<div id="univers-single">
    <!-- INTRO -->
    <div class="container-fluid intro">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="image-wrapper">
                                {{ content.field_univers_single_intro_img }}
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-5 my-auto">
                            <div class="max-450">
                                {{ content.field_univers_single_intro_txt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container content-1">
        <div class="row mt-4">
            <div class="col">
                {{ content.field_univers_single_c1_title }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="js-slider-univers slider">
                    {{ content.field_univers_single_c1_imgs }}
                </div>
            </div>
        </div>

        <!-- CONTENT 2 -->
        <div class="row content-2">
            <div class="col-lg-5 my-auto">
                <div class="collection">
                    {{ content.field_univers_single_c2_txts[0] }}
                </div>
            </div>
            <div class="col-lg-7 my-auto max-690">
                {{ content.field_univers_single_c2_txts[1] }}
            </div>
        </div>
    </div>
</div>
