{% set imgPath = "sites/cotetable/themes/cotetable/images/TEMP/" %}

<div id="univers">
    <!-- BANNIÈRE -->
    <div class="intro">
        <div class="opacity-img">
            {{ content.field_univers_banner_img }}
        </div>
        <div class="intro-text container">
            <div class="row">
                <div class="col">
                    {{ content.field_univers_banner_txt }}
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container my-5 content-1">
        <div class="row">
            <div class="col">
                <div class="collection my-3">
                    {{ content.field_univers_c1_intro }}
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="cards-grid">
                    {% for i in 0..6 %}
                        <a href="{{ content.field_univers_c1_links[i]['#url'] }}">
                            <div class="card-custom image-scale fade-title opacity-img-hover">
                                <img src="{{ content.field_univers_c1_imgs[i] }}"
                                     alt="{{ node.field_univers_c1_imgs[i].alt }}">
                                <h4>{{ content.field_univers_c1_links[i]['#title'] }}</h4>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="single-card">
                        <h2>{{ content.field_univers_c1_card_title }}</h2>
                        <span class="circle-logo"></span>
                        <a href="{{ content.field_univers_c1_card_btn_link[0]['#url'] }}" class="button-grey">{{ content.field_univers_c1_card_btn_link[0]['#title'] }}</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="content-1-text">
                    {{ content.field_univers_c1_text }}
                </div>
            </div>
        </div>
    </div>
</div>