<div id="univers-single">
    <!-- BANNER -->
    <div class="intro">
        <div class="opacity-img">
            {{ content.field_univers_single_banner }}
        </div>
        <div class="absolute-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-banner">
                            <div>
                                {{ content.field_univers_single_banner_txt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container c1">
        <div class="row">
            <div class="col">
                <div class="js-slider-univers slider">
                    {{ content.field_univers_single_c1_imgs }}
                </div>
            </div>
        </div>

        <!-- CONTENT 2 -->
        <div class="row c2">
            <div class="col-lg-5 my-auto">
                <div class="collection">
                    {{ content.field_univers_single_c2_txts[0] }}
                </div>
            </div>
            <div class="col-lg-7 my-auto">
                <div class="custom-padding">
                    {{ content.field_univers_single_c2_txts[1] }}
                </div>
            </div>
        </div>
    </div>
</div>
