<div id="devenir-revendeur">
    <!-- BANNER -->
    <div class="intro">
        <div class="opacity-img">
             {{ content.field_revendeur_intro_img }}
        </div>
        <div class="absolute-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-banner">
                            <div>
                                 {{ content.field_revendeur_intro_txt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container c1 max-1180">
        <div class="row align-items-center">
            <div class="col-lg-6">
                 {{ content.field_revendeur_c1_img }}
            </div>
            <div class="col-lg-6">
                <div class="content-wrapper">
                     {{ content.field_revendeur_c1_txt }}
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="container bg-color3 c2" id="anchor-c2">
        <div class="row">
            <div class="col">
                <div class="container max-1180 g-lg-0">
                    <div class="row">
                        <div class="col">
                             {{ content.field_revendeur_c2_txt }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM -->
    <div class="container form-position">
        <div class="row">
            <div class="col">
                <div class="container max-1180 form-container">
                    <div class="row">
                        <div class="col">
                            <div class="form-wrap">
                                {{ content.field_revendeur_c2_form }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>