<div id="qsn">
    <!-- BANNER -->
    <div class="intro">
        <div class="opacity-img">
             {{ content.field_qsn_banner_img }}
        </div>
        <div class="absolute-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-banner">
                            <div>
                                 {{ content.field_qsn_banner_txt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container c1 max-1180">
        <div class="row align-items-center">
            <div class="col-lg-6">
                 {{ content.field_qsn_c1_img }}
            </div>
            <div class="col-lg-6">
                <div class="content-wrapper">
                     {{ content.field_qsn_c1_txt }}
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT-BLOCK -->
    {{ content.field_qsn_contact_block }}
</div>