{{ attach_library('merchcie/datatables') }}
{{ attach_library('merchcie/select2') }}
{{ attach_library('merchcie/cookiesJS') }}

{% if (type == "terrain") %}
    {% set offerPath = 'offresPrestataires.contentTerrain' %}
    {% set pageTitle = "offres terrain" %}
{% else %}
    {% set offerPath = 'offresPrestataires.content' %}
    {% set pageTitle = "offres de prestations" %}
{% endif %}

<div class="bg-color1 z1">
    <div class="container">
        <div class="row">
            <div class="col main-big-title">
                <h1 class="text-white">
                    {{ "Découvrez nos"|trans }} <br>
                    <span class="text-color2">{{ pageTitle|trans }}</span>
                </h1>
                <span class="line-vertical dot-pattern-color2"></span>
            </div>
        </div>
    </div>
</div>

<div class="offres-prestataires-module mb-5">
    <div class="container" id="listing-offres">
        <div class="row">
            <div class="col-12 col-md-3 filters">
                <h4 class="d-none d-md-block text-color2">{{ "Filtrer"|trans }}</h4>
                <span class="line dot-pattern-color2 w-100"></span>

                <div class="d-block d-md-none">
                    <button class="cta-filter top js-toggle-filters bg-color2 w-100">
                        {{ "Filtrer"|trans }}
                    </button>
                </div>
                <input type="text" id="searchbox" class="w-100" placeholder="Rechercher une offre" />
                {% if data %}
                    <div id="groupe-filtres-offres">
                        <div id="filtre-contrat" class="offer-caracteristic">
                            <span class="title-caracteristic">{{ "Type de contrat"|trans }}</span>
                            <div class="select-option"></div>
                        </div>
                        <div id="filtre-lieu" class="offer-caracteristic">
                            <span class="title-caracteristic">{{ "Lieu de travail"|trans }}</span>
                            <div class="select-option"></div>
                        </div>
                        <div class="d-block d-sm-none">
                            <button class="cta-filter bottom js-toggle-filters w-100 bg-color2" style="display: none">
                                {{ "Valider"|trans }}
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-9 jobs-list">
                <h4 class="text-color2">{{ "Les offres disponibles"|trans }}</h4>
                <span class="line dot-pattern-color2 w-100"></span>
                {% if data %}
                    <table id="toutes-les-offres" class="display w-100">
                        <thead>
                        <tr>
                            <th class="control"></th>
                            <th class="all wrap">{{ "Poste"|trans }}</th>
                            <th class="all">{{ "Type de contrat"|trans }}</th>
                            <th class="js-hide">{{ "Date de MAJ"|trans }}</th>
                            <th class="not-mobile">{{ "Lieu"|trans }}</th>
                            <th class="not-mobile js-only-xs"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for offre in data %}
                            <tr class="clickable-row" data-href="{{ path(offerPath, {ref: offre.id_scoptalent}) }}">
                                <th class="control"></th>
                                <td class="wrap">{{ offre.title }}</td>
                                <td class="">{{ offre.contract_types }}</td>
                                <td class="">{{ offre.last_update_scoptalent }}</td>
                                <td>{{ offre.city }}</td>
                                <td><a href="{{ path(offerPath, {ref: offre.id_scoptalent}) }}" class="text-color2">Voir l'annonce</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div id="alerte-offres" class="bg-color1 text-white">
                        <p class="error">
                            {{ "Aucune offre ne vous correspond pour l'instant mais vous souhaitez quand même participer à l'aventure Merch & Cie ?"|trans }}
                            {{ "Envoyez nous une "|trans }}
                            <a href="/espace-prestataires/candidature-spontanee" class="text-white">{{ 'candidature spontanée'|trans }}</a>.
                        </p>
                    </div>
                {% else %}
                    <div id="alerte-offres" class="bg-color1 text-white">
                        <p class="error">{{ "Nous n'avons aucune offre pour le moment. Revenez bientôt pour de nouvelles offres ou postulez avec une "|trans }}
                            <a href="/espace-prestataires/candidature-spontanee" class="text-white">{{ 'candidature spontanée'|trans }}</a>.
                        </p>
                    </div>
                {% endif %}
                {% if type == "terrain" %}
                    <div id="alerte-offres" class="bg-color1 text-white">
                        <p class="error">
                            <a href="{{ path('offresEmploi.content') }}" class="text-white">
                                {{ "Vous souhaitez travailler au siège, venez découvrir nos offres en cliquant ici." | trans }}
                            </a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if (type == "terrain") %}
    <div class="c2 mt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="before-line line-color2 text-color2">{{ "Nos métiers"|trans }}</h2>
                    <h3>
                        {{ "Faites connaissance avec une partie de <br> l'équipe"|trans }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}