{{ attach_library('merchcie/datatables') }}
{{ attach_library('merchcie/select2') }}
{{ attach_library('merchcie/cookiesJS') }}

<div class="bg-color1 z1">
    <div class="container">
        <div class="row">
            <div class="col main-big-title">
                <h1 class="text-white">
                    {{ "Rejoindre"|trans }} <br>
                    <span class="text-color2">Merch & Cie</span>
                </h1>
                <span class="line-vertical dot-pattern-color2"></span>
            </div>
        </div>
    </div>
</div>

<div class="offres-emploi-module mb-5">
    <div class="container" id="listing-offres">
        <div class="row">
            <div class="col-12 col-md-3 filters">
                <h4 class="d-none d-md-block text-color2">{{ "Filtrer"|trans }}</h4>
                <span class="line dot-pattern-color2 w-100"></span>

                <div class="d-block d-md-none">
                    <button class="cta-filter top js-toggle-filters bg-color2 w-100">
                        {{ "Filtrer"|trans }}
                    </button>
                </div>
                <input type="text" id="searchbox" class="w-100" placeholder="Rechercher une offre" />
                {% if offers %}
                    <div id="groupe-filtres-offres">
                        <div id="filtre-contrat" class="offer-caracteristic">
                            <span class="title-caracteristic">{{ "Type de contrat"|trans }}</span>
                            <div class="select-option"></div>
                        </div>
                        <div id="filtre-poste" class="offer-caracteristic">
                            <span class="title-caracteristic">{{ "Type de poste"|trans }}</span>
                            <div class="select-option"></div>
                        </div>
                        <div id="filtre-lieu" class="offer-caracteristic">
                            <span class="title-caracteristic">{{ "Lieu de travail"|trans }}</span>
                            <div class="select-option"></div>
                        </div>
                        <div class="d-block d-sm-none">
                            <button class="cta-filter bottom js-toggle-filters w-100 bg-color2" style="display: none">
                                {{ "Valider"|trans }}
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-9 jobs-list">
                <h4 class="text-color2">{{ "Les postes à pourvoir"|trans }}</h4>
                <span class="line dot-pattern-color2 w-100"></span>
                {% if offers %}
                    <table id="toutes-les-offres" class="display w-100">
                        <thead>
                            <tr>
                                <th class="control"></th>
                                <th class="all wrap">{{ "Poste"|trans }}</th>
                                <th class="all">{{ "Type de contrat"|trans }}</th>
                                <th class="js-hide">{{ "Type de poste"|trans }}</th>
                                <th class="not-mobile">{{ "Date de début"|trans }}</th>
                                <th class="not-mobile">{{ "Lieu"|trans }}</th>
                                <th class="not-mobile js-only-xs"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offers %}
                                <tr class="clickable-row" data-href="{{ path('offresEmploi.content', {ref: offer.codeRecrutement}) }}">
                                    <td class="control"></td>
                                    <td class="wrap">{{ offer.intitulePoste }}</td>
                                    <td class="">{{ offer.typeContrat }}</td>
                                    <td>{{ offer.metier }}</td>
                                    <td>{{ offer.dateOuverturePoste|date("d/m/Y") }}</td>
                                    <td>{{ offer.lieuRecrutement }}</td>
                                    <td><a href="{{ path('offresEmploi.content', {ref: offer.codeRecrutement}) }}">Voir l'annonce</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div id="alerte-offres" class="bg-color1 text-white">
                        <p class="error">
                            {{ "Aucune offre ne vous correspond mais vous souhaitez quand même nous rejoindre ?"|trans }}
                            {{ "Envoyez nous une "|trans }}
                            <a href="/rejoignez-nous/candidature-spontanee" class="text-white">{{ 'candidature spontanée'|trans }}</a>.
                        </p>
                    </div>
                {% else %}
                    <div id="alerte-offres" class="bg-color1 text-white">
                        <p class="error">{{ "Nous n'avons aucune offre pour le moment. Revenez bientôt pour de nouvelles offres ou postulez avec une "|trans }}
                            <a href="/rejoignez-nous/candidature-spontanee" class="text-white">{{ 'candidature spontanée'|trans }}</a>.
                        </p>
                    </div>
                {% endif %}
                <div id="alerte-offres" class="bg-color1 text-white">
                    <p class="error">
                        <a href="{{ path('offresPrestataires.contentTerrain') }}" class="text-white">
                            {{ "Vous souhaitez travailler sur le terrain, venez découvrir nos offres en cliquant ici." | trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="before-line line-color2 text-color2">{{ "Nos métiers"|trans }}</h2>
                <h3>
                    {{ "Faites connaissance avec une partie de <br> l'équipe"|trans }}
                </h3>
            </div>
        </div>
    </div>
</div>