<div class="offres-prestataires-module">
    {% if (type == "terrain") %}
        {% set offerPath = 'offresPrestataires.contentTerrain' %}
    {% else %}
        {% set offerPath = 'offresPrestataires.content' %}
    {% endif %}

    {% if offerName and offerRef and form %}
        <div id="candidature-offre">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="text-color2"><span class="pre-title">Offre de prestation</span> - {{ offerName }}</h4>
                        <span class="line dot-pattern-color2 w-100"></span>
                    </div>
                </div>

                {{ form }}

                <div class="row">
                    <div class="col">
                        <a class="back d-block text-color2"
                           href="{{ path(offerPath, {ref: offerRef}) }}">{{ '< Retour'|t }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="alerte-offres" class="bg-color1 text-white">
                        <p class="error">
                            L'annonce n'existe pas.
                            <a href="{{ path(offerPath) }}" class="text-color2">Retournez sur la page des
                                offres d'emploi.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>