<div id="offre">
    <div class="container">
        {%  if offer == 'false' %}
            <div id="alerte-offres" class="c-text-bold">
                <p class="error">
                    L'annonce n'existe pas.
                    <a href="{{ path('offresEmploi.content') }}">Retournez sur la page des offres d'emploi.</a>
                </p>
            </div>
        {% else %}
        <div class="row detail-offre">
            <div class="col-12 col-sm-3 left order-2 order-sm-1">
                <h2 class="h3-like c-text-bold">Contrat / Infos</h2>

                <span class="info-title c-text-bold">Référence de l'annonce</span>
                <span class="info-content">#{{ offer.codeRecrutement }}</span>

                <span class="info-title c-text-bold">Type de contrat</span>
                <span class="info-content">{{ offer.typeContrat }}</span>

                <span class="info-title c-text-bold">Date de l'annonce</span>
                <span class="info-content">{{ offer.dateCreationDemande|date("d/m/Y") }}</span>

                <span class="info-title c-text-bold">Lieu de travail</span>
                <span class="info-content">{{ offer.lieuRecrutement }}</span>

                {% if offer.sirh_id %}
                    <a class="btn-cta" href="{{ sirh_url }}{{ offer.sirh_id }}" target="_blank">
                        <button id="btn-postuler"><span class="c-text-bold">Je postule</span></button>
                    </a>
                {% endif %}

                <div class="text-center">
                    <a class="back d-sm-none c-text-bold" href="{{ path('offresEmploi.content') }}">< <span>Retour</span></a>
                </div>
            </div>
            <div class="col-12 col-sm-9 right order-1 order-sm-2">
                <h1 class="h3-like c-text-bold">Offre d'emploi - {{ offer.intitulePoste }}</h1>

                {% if offer.descriptionEntreprise %}
                <p>{{ offer.descriptionEntreprise | raw}}</p>
                {% endif %}
                {% if offer.descriptionMission %}
                <div>
                    <p><b class="title c-text-bold">Définition des missions</b></p>
                    <p>{{ offer.descriptionMission | raw }}</p>
                </div>
                {% endif %}
                {% if offer.descriptionProfil %}
                <div>
                    <p><b class="title c-text-bold">Profil recherché</b></p>
                    <p>{{ offer.descriptionProfil | raw }}</p>
                </div>
                {% endif %}
                <a class="back d-none d-sm-inline-block c-text-bold" href="{{ path('offresEmploi.content') }}">< <span>Retour</span></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>