{% if page.footer %}
    {{ page.footer }}
    <div class="copyright text-center">
        Merch & Cie {{ '© ' }}{{ "now"|date('Y') }}
        <br class="d-lg-none" />
        <a href="/mentions-legales">{{ 'Mentions légales '|trans }}</a> -
        <a href="/confidentialite">{{ 'Politique de confidentialité '|trans }}</a>
    </div>
{% endif %}