<div class="footer-wrapper bg-color1 text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-3">
                <a href="{{ url('<front>') }}" title="Merch & Cie">
                    <span class="logo-placeholder"></span>
                </a>
            </div>
            <div class="col-12 col-lg-6">
                {{ page.footer }}
            </div>
            <div class="col-12 col-lg-3">
                <a href="https://www.linkedin.com/company/merch&cie/" target="_blank">
                    {{ "Suivez Merch & Cie <br /> sur Linkedin"|trans }}
                    <span class="logo-linkedin"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="copyright text-center">
    Merch & Cie {{ '© ' }}2011-{{ "now"|date('Y') }} <span class="d-none d-lg-inline-block">-</span> <br class="d-lg-none">
    <a href="/mentions-legales">{{ 'Mentions légales '|trans }}</a> -
    <a href="/confidentialite">{{ 'Politique de confidentialité '|trans }}</a>
</div>