<div id="liste-pdf">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>PDF trouvés</h3>
            </div>
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th>Fichier(s)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if rslt is not empty %}
                            {% set myVal = 0 %}
                            {% for doc in rslt %}
                                {% set myVal = myVal + 1 %}
                                <tr>
                                    <td>{{ doc.name }}</td>
                                    <td class="to-dl">
                                        <form action="{{ path('resultSearch.download') }}" method="post" class="dl-file-form" id="dl-file{{ myVal }}">
                                            <input type="hidden" id="urlDl" name="urlDl" value="{{ doc.urlDl }}">
                                            <input type="hidden" id="name" name="name" value="{{ doc.name }}">
                                            <button type="submit"></button>
                                        </form>
                                        <span class="link" onclick="window.open('{{ doc.urlDl }}')">Afficher le PDF</span> |
                                        <span class="link" onclick="document.getElementById('dl-file{{ myVal }}').submit();">Télécharger</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2" id="no-product">Pas de produits</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div>
                    <span class="expl">DCA = Déclaration de conformité alimentaire</span>
                    <span class="expl">DCE = Déclaration de conformité électrique</span>
                    <span class="expl">FDS = Fiche de données de sécurité</span>
                </div>
            </div>
            <div class="col-12">
                <button onclick="window.history.back();">Effectuer une autre recherche</button>
            </div>
        </div>
    </div>
</div>