<div id="offre">
    <div class="container">
        {%  if data == 'false' %}
            <p>L'annonce n'existe pas</p>
        {% else %}
        <div class="row detail-offre">
            <div class="col-12 col-sm-3 left order-2 order-sm-1">
                <h2>Contrat / Infos</h2>

                <span class="info-title">Référence de l'annonce</span>
                <span class="info-content">#{{ data.codeRecrutement }}</span>

                <span class="info-title">Date de l'annonce</span>
                <span class="info-content">{{ data.dateCreationDemande|date("d/m/Y") }}</span>

                <span class="info-title">Type de contrat</span>
                <span class="info-content">{{ data.typeContrat }}</span>

                <span class="info-title">Lieu de travail</span>
                <span class="info-content">{{ data.lieuRecrutement }}</span>

                <span class="info-title">Entreprise</span>
                <span class="info-content">{{ data.filialeSociete }}</span>

                <a class="btn-cta" href="/offres-emploi/postuler/{{ data.codeRecrutement }}"><button>Je postule</button></a>
                <div class="text-center">
                    <a class="back d-sm-none" href="/offres-emploi">< Retour</a>
                </div>
            </div>
            <div class="col-12 col-sm-9 right order-1 order-sm-2">
                <h1>Offre d'emploi - {{ data.intitulePoste }}</h1>

                {% if data.descriptionEntreprise %}
                <div class="txt-grey">
                    <p>{{ data.descriptionEntreprise | raw}}</p>
                </div>
                {% endif %}
                {% if data.descriptionMission %}
                <div>
                    <p><b class="title">Définition du poste :</b></p>
                    <p>{{ data.descriptionMission | raw }}</p>
                </div>
                {% endif %}
                {% if data.descriptionProfil %}
                <div>
                    <p><b class="title">Profil recherché :</b></p>
                    <p>{{ data.descriptionProfil | raw }}</p>
                </div>
                {% endif %}
                <a class="back d-none d-sm-inline-block" href="/offres-emploi">< Retour</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>