<div class="container listing-offres">
    <div class="row">
        <div class="col-12 col-md-3 filters">
            <h3 class="d-none d-sm-block">Filtrer</h3>

            <div class="d-block d-md-none">
                <button class="cta-filter top js-toggle-filters">
                    Filtrer
                </button>
            </div>

            <input type="text" id="searchbox" placeholder="Rechercher une offre" />

            {% if offers %}
                <div id="groupe-filtres-offres-emploi">
                    <div id="filtre-contrat" class="filtres-offres-emploi">
                        <b>Type de contrat</b>
                        <div class="select-option"></div>
                    </div>
                    <div id="filtre-poste" class="filtres-offres-emploi">
                        <b>Type de poste</b>
                        <div class="select-option"></div>
                    </div>
                    <div id="filtre-lieu" class="filtres-offres-emploi">
                        <b>Lieu de travail</b>
                        <div class="select-option"></div>
                    </div>
                    <div class="d-block d-sm-none">
                        <button class="cta-filter bottom js-toggle-filters" style="display: none">
                            Valider
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-12 col-md-9 jobs-list">
            {% if offers %}
                <h3>
                    Les postes à pourvoir (<span id="nb-postes-ouverts">{{ offers|length }}</span> <span id="nb-postes-ouverts-txt">postes ouverts</span>)</h3>
                <div id="alerte-offres"></div>
                <table id="toutes-les-offres" class="display nowrap">
                    <thead>
                        <tr>
                            <th class="control"></th>
                            <th class="all wrap">Poste</th>
                            <th class="all">Type de contrat</th>
                            <th class="js-hide">Type de poste</th>
                            <th>Date de début</th>
                            <th class="not-mobile">Lieu</th>
                            <th class="not-mobile js-only-xs"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                            <tr class="clickable-row" data-href="{{ path('offresEmploi.content', {ref: offer.codeRecrutement}) }}">
                                <td class="control"></td>
                                <td class="wrap">{{ offer.intitulePoste }}</td>
                                <td class="">{{ offer.typeContrat }}</td>
                                <td>{{ offer.metier }}</td>
                                <td>{{ offer.dateOuverturePoste|date("d/m/Y") }}</td>
                                <td>{{ offer.lieuRecrutement }}</td>
                                <td><a href="{{ path('offresEmploi.content', {ref: offer.codeRecrutement}) }}">Voir l'annonce</a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Nous n'avons aucune offre pour le moment. Revenez bientôt pour de nouvelles offres ou postulez avec une
                    <a href="/candidature-spontanee">candidature spontanée</a>.
                </p>
            {% endif %}
        </div>
    </div>
</div>