<!-- CONTENT 1 -->
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 px-0">
      <div class="homepage-hero">
        {{ content.field_hp_hero }}
      </div>
    </div>
    <div class="homepage-title">
      {{ content.field_hp_title }}
    </div>
  </div>
</div>
<!-- CONTENT 2 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div class="content2">
        <div class="row">
          <div class="col-12">
            <div class="content2-top">
              <div class="image-stove">
                {{ content.field_hp_content2_image_stove }}
              </div>
              <div class="text-collection">
                {{ content.field_hp_content2_collection }}
                <p class="voir-tout"><a href="#">Voir tout</a></p>
              </div>
              <div class="image-kitchen">
                {{ content.field_hp_content2_image_kitchen }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="content2-bottom">
              <div class="conseils">
                {{ content.field_hp_content2_text_conseils }}
                <p class="voir-conseils"><a href="#">Voir nos conseils</a></p>
              </div>
              <div class="ou-trouver">
                {{ content.field_hp_content2_text_ou_trouve }}
                <p class="voir-vente"><a href="#">Voir nos<br>points de vente</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTENT 3 -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content3">
        {{ content.field_hp_content3_recettes }}
      </div>
    </div>
  </div>
</div>

