<div id="labo">

  <div id="ban-intro" class="container-fluid">
    <div class="row">
      <div class="col">

        <!-- BANNER -->
        <div class="container">
          <div class="row">
            <div class="col ban">
              {{ content.field_labo_banner }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">

    <!-- TITLE  -->
    <div class="row my-5 pb-0 pb-md-5">
      <div class="col text-center">
        <h1>{{ content.field_labo_title }}</h1>
      </div>
    </div>

    <!-- SECTION 1 -->

    <div class="row my-0 pb-0 my-md-5 pb-md-5" id="section_1">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <h2 class="txt-blue">{{ content.field_labo_section_1_titre }}</h2>
        <p>{{ content.field_labo_section_1_texte }}</p>
      </div>
      <div class="col-12 col-md-6">
        {{ content.field_labo_section_1_image }}
      </div>
    </div>

  </div>

  <!-- SECTION 2 -->
  <div class="container-fluid" id="section_2">

    <div class="row pt-5 bg-verylightgrey">
      <div class="container">
        <div class="col-12 col-md-6 pb-2">
          <h2 class="txt-blue">{{ content.field_labo_section_2_titre }}</h2>
          {{ content.field_labo_section_2_texte }}
        </div>
      </div>
    </div>
    <div class="row pb-0 pb-md-5 poelle">
      <div class="container">
        <div class="col">
          <div class="poele_points">

            <div class="poele_points_desktop">
              {{ content.field_labo_section_2_image[0] }}
            </div>

            <div class="poele_points_mobile">
              {{ content.field_labo_section_2_image[1] }}
            </div>

            <div class="poele_point mt-5 mt-md-0">
              <div class="poele_point_wrapper" data-img="{{ content.field_labo_section_2_points_imgs[0] }}">
                1
              </div>
              <div class="poele_point_description">
                {{ content.field_labo_section_2_points[0] }}
              </div>
            </div>
            <div class="poele_point">
              <div class="poele_point_wrapper" data-img="{{ content.field_labo_section_2_points_imgs[1] }}">
                2
              </div>
              <div class="poele_point_description">
                {{ content.field_labo_section_2_points[1] }}
              </div>
            </div>
            <div class="poele_point">
              <div class="poele_point_wrapper" data-img="{{ content.field_labo_section_2_points_imgs[2] }}">
                3
              </div>
              <div class="poele_point_description">
                {{ content.field_labo_section_2_points[2] }}
              </div>
            </div>
            <div class="poele_point">
              <div class="poele_point_wrapper" data-img="{{ content.field_labo_section_2_points_imgs[3] }}">
                4
              </div>
              <div class="poele_point_description">
                {{ content.field_labo_section_2_points[3] }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- SECTION 3 -->
  <div class="container-fluid" id="section_3">

    <div class="row mt-5 bg-img-blue pt-5">
      <div class="container section_3_padding">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2 class="h3 txt-blue">{{ content.field_labo_section_3_titre }}</h2>
          </div>
          <div class="col-12 col-md-6">
            {{ content.field_labo_section_3_texte }}
          </div>
        </div>
      </div>
      <div class="container"><hr></div>
    </div>

    <div class="row mt-5">
      <div class="container slider_filters">
        <div class="col">
          <a class="active">DURABILITÉ</a>
          <a>PERFORMANCE</a>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="container">
        <div class="col">

          <div class="slider">

            <!-- SLIDE DURABILITE -->
            <div class="slide mb-md-5 active">

              <div class="row mb-5">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                  {{ content.field_labo_section_3_0_texte }}
                </div>
                <div class="col-12 col-md-6 bg-verylightgrey">
                  {{ content.field_labo_section_3_0_image }}
                </div>
              </div>

              <div class="row">
                <div class="col">

                  <table class="reparateurs">
                    <thead>
                    <tr>
                      <th>Tests de « durabilité »</th>
                      <th>Objectif consommateur</th>
                      <th>Méthode de test</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-verylightgrey">
                      <td>{{ content.field_labo_section_3_0_col_1[0]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_2[0]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_3[0]|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ content.field_labo_section_3_0_col_1[1]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_2[1]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_3[1]|raw }}</td>
                    </tr>
                    <tr class="bg-verylightgrey">
                      <td>{{ content.field_labo_section_3_0_col_1[2]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_2[2]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_3[2]|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ content.field_labo_section_3_0_col_1[3]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_2[3]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_3[3]|raw }}</td>
                    </tr>
                    <tr class="bg-verylightgrey">
                      <td>{{ content.field_labo_section_3_0_col_1[4]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_2[4]|raw }}</td>
                      <td>{{ content.field_labo_section_3_0_col_3[4]|raw }}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>

            </div>

            <!-- SLIDE PERFORMANCE -->
            <div class="slide mb-md-5">

              <div class="row mb-5">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                  {{ content.field_labo_section_3_1_texte }}
                </div>
                <div class="col-12 col-md-6 bg-verylightgrey">
                  {{ content.field_labo_section_3_1_image }}
                </div>
              </div>

              <div class="row">
                <div class="col">

                  <table class="reparateurs">
                    <thead>
                    <tr>
                      <th>Tests de « performance »</th>
                      <th>Objectif consommateur</th>
                      <th>Méthode de test</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ content.field_labo_section_3_1_col_1[0]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[0]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[0]|raw }}</td>
                    </tr>
                    <tr class="bg-verylightgrey">
                      <td>{{ content.field_labo_section_3_1_col_1[1]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[1]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[1]|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ content.field_labo_section_3_1_col_1[2]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[2]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[2]|raw }}</td>
                    </tr>
                    <tr class="bg-verylightgrey">
                      <td>{{ content.field_labo_section_3_1_col_1[3]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[3]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[3]|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ content.field_labo_section_3_1_col_1[4]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[4]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[4]|raw }}</td>
                    </tr>
                    <tr class="bg-verylightgrey">
                      <td>{{ content.field_labo_section_3_1_col_1[5]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[5]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[5]|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ content.field_labo_section_3_1_col_1[6]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_2[6]|raw }}</td>
                      <td>{{ content.field_labo_section_3_1_col_3[6]|raw }}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- SECTION 4 -->
  <div class="container-fluid mt-5 pt-5" id="section_4">

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="txt-blue mb-5">{{ content.field_labo_section_4_titre }}</h2>
          </div>
        </div>
        <div class="row">

          {{ content.field_labo_section_4_videos }}

        </div>
        <div class="row py-5 text-center">

          <a href="" class="btn_labo">
            Voir tous les tests
          </a>

        </div>
      </div>
    </div>

  </div>

</div>
