<div id="garanties">
    <!-- BANNER -->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center intro">
                {{ content.field_garanties_banner }}
            </div>
        </div>
    </div>

    <div class="container max-1350">

        <!-- CONTENT 1 -->
        <div class="row my-5">
            <div class="col">
                {{ content.field_garanties_c1_txt }}
            </div>
        </div>

        <!-- CONTENT 2 -->
        <div class="row mt-3">
            <div class="col-12 col-sm-6 bg-verylightgrey">
                <div class="p-3 p-lg-5">
                    {{ content.field_garanties_c2_txts[0] }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="p-3 p-lg-5">
                     {{ content.field_garanties_c2_txts[1] }}
                </div>
            </div>
        </div>

        <!-- CONTENT 3 -->
        <div class="row my-5">
            <div class="col">
                 {{ content.field_garanties_c3_txt }}
            </div>
        </div>
    </div>

    <!-- CONTENT 4 -->
    <div class="container-fluid bg-img-blue my-5 pt-5 content-4">
        <div class="row">
            <div class="col">
                <div class="container max-1350">
                    <div class="row mb-5">
                        <div class="col text-center text-white">
                            <h2>{{ content.field_garanties_c4_title }}</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="col-12 col-md-4 bg-verylightgrey">
                            <div class="p-4">
                                 {{ content.field_garanties_c4_txts[0] }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 bg-white">
                            <div class="p-4">
                                 {{ content.field_garanties_c4_txts[1] }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4 bg-verylightgrey">
                            <div class="p-4">
                                 {{ content.field_garanties_c4_txts[2] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>