{{ attach_library('sitram/masonry') }}
{{ attach_library('sitram/imageloaded') }}
{{ attach_library('sitram/instagram') }}

<div id="communaute">
    <div id="ban-intro" class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div id="js-instagram-commu"></div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="top-offset ml-0 ml-lg-4">
                                {{ content.field_commu_intro }}
                            </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        {{ content.field_commu_gallery_intro }}
                    </div>

                    <div class="row my-5">
                        <div class="col">
                            <!-- MASONRY GRID -->
                            <div class="js-grid-masonry">
                                <div class="grid-sizer col-md-3"></div>
                                <div class="grid-item col-md-6">
                                    {{ content.field_commu_gallery_imgs[0] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[1] }}
                                </div>
                                <div class="grid-item col-md-3">
                                    {{ content.field_commu_gallery_imgs[2] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[3] }}
                                </div>

                                <div class="grid-item col-md-3">
                                    {{ content.field_commu_gallery_imgs[4] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[5] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[6] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[7] }}
                                </div>

                                <div class="grid-item col-md-3">
                                    {{ content.field_commu_gallery_imgs[8] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[9] }}
                                </div>
                                <div class="grid-item col-md-3 d-none d-md-block">
                                    {{ content.field_commu_gallery_imgs[10] }}
                                </div>
                                <div class="grid-item col-md-3">
                                    {{ content.field_commu_gallery_imgs[11] }}
                                </div>
                                <div class="grid-item col-md-3">
                                    {{ content.field_commu_gallery_imgs[12] }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        {{ content.field_commu_outro[0] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>