<!-- A SUPPR APRES INTE DRUPAL -->
{% set cheminImage = 'sites/sitram/themes/sitram/images/TEMP/produits-cocottes/' %}

<div id="produit" class="cocotte">
    <div class="container-fluid">
        <div id="ban-intro" class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            <img src="{{ cheminImage }}produits-cocottes-ban.jpg"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h1>La cocotte en fonte, <span>L’USTENSILE PRÉFÉRÉ DES GOURMETS</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>
                    Entre tradition et modernité, la cocotte en fonte fait partie des ustensiles de cuisson
                    indispensables dans nos cuisines d’aujourd’hui. Permettant de composer une multitude de
                    plats savoureux, elle nous replonge dans une cuisine simple et authentique, familiale et
                    intemporelle. Chez Sitram, nous vous proposons plusieurs modèles de cocottes en fonte.
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <p>
                    Efficaces, belles et faciles à utiliser, elles vous permettent de profiter d’une cuisine
                    saine et accessible, en toute convivialité. Qu’il s’agisse de mijoter de bons petits
                    plats l’hiver ou de préparer des recettes vitaminées l’été, il y a forcément une cocotte
                    Sitram pour vous ! Alors pourquoi utiliser une cocotte en fonte Sitram ? Et comment
                    choisir le modèle le plus adapté à vos besoins ?
                </p>
            </div>
        </div>

        <hr class="my-5"/>

        <div class="row">
            <div class="col">
                <h2 class="text-center txt-blue mb-5">Pourquoi utiliser <span>une cocotte Sitram ?</span></h2>
            </div>
        </div>
    </div>

    <div class="container max-1065 gutter-27 content-1">
        {% for i in 0 .. 5 %}
            <div class="row align-items-center my-4">
                <div class="col-12 col-sm-6 seo-txt {% if i is odd %}order-lg-2{% endif %}">
                    <h3>Un ustensile polyvalent</h3>
                    <p>
                        Véritable atout saveur, la cocotte en fonte permet une cuisson à l’étouffée, pour mijoter
                        lentement de bons petits plats. Mais elle présente d’autres avantages. Aussi belle que pratique,
                        elle peut être installée au centre de la table, pour un moment de partage encore plus convivial.
                        Elle permet également de garder son contenu au chaud, tout au long du repas. Tout terrain,
                        résistant et durable, cet ustensile de cuisson est un investissement sur le long terme que l’on
                        ne regrette jamais !
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <img src="{{ cheminImage }}produit-cocotte-0{{ i + 1 }}.jpg" alt="">
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container-fluid bg-img-blue mb-4">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="my-5 text-white">Comment choisir votre cocotte en fonte Sitram ?</h2>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12 col-sm-4">
                            <img src="{{ cheminImage }}choisir-01.jpg" alt="">
                        </div>
                        <div class="col-12 col-sm-4">
                            <img src="{{ cheminImage }}choisir-02.jpg" alt="">
                        </div>
                        <div class="col-12 col-sm-4">
                            <img src="{{ cheminImage }}choisir-03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row">
            <div class="col seo-txt">
                <p>
                    Toutes les cocottes Sitram sont en fonte d’acier, une matière authentique et durable qui
                    combine solidité et capacités optimales de cuisson (cuisson lente, à basse température).
                    Compatibles avec toutes les sources de chaleur, elles passent également au four.
                </p>
                <p>
                    <a href="">Sitrabella</a>, <a href="">Prisme</a> et <a href="">Tradifonte</a>: Sitram vous propose
                    trois gammes de cocottes en
                    fonte, pour tous les goûts et tous les besoins. Plusieurs critères peuvent vous aider à
                    choisir l’ustensile de cuisson le plus adapté à vos attentes.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 seo-txt">
                <h3> Ronde ou ovale ? </h3>
                <p>
                    Il existe deux formes classiques de cocottes : la cocotte ovale et la cocotte ronde.
                </p>
                <p>
                    La cocotte en
                    fonte ovale est la forme la plus traditionnelle. Parfaitement adaptée à la cuisson de volailles
                    entières et aux rôtis, elle permet également de réaliser facilement tous les autres types de plats
                    mijotés et différentes préparations au four. Il s’agit donc de la cocotte la plus polyvalente.
                </p>
                <p>
                    Adoptant une forme plus originale, la cocotte en fonte ronde est quant à elle destinée à la cuisson
                    de plats traditionnels mijotés, comme un bœuf bourguignon, une blanquette de veau, un osso buco ou
                    un navarin d’agneau. Si vous souhaitez y faire cuire des volailles ou des poissons entiers, veillez
                    à choisir une cocotte d’un diamètre suffisant.
                </p>
                <p>
                    Vous hésitez entre les deux formes et ne savez pas
                    quel modèle de cocotte en fonte acheter ? Pourquoi ne pas investir dans les deux modèles ? Vous
                    pouvez par exemple choisir une cocotte ovale noire ou rouge, pour profiter d’un objet authentique et
                    intemporel, et vous faire plaisir avec une cocotte ronde orange ou moutarde pour une touche
                    d’originalité.
                </p>
                <p>
                    Chez Sitram, nous vous proposons également une série de cocottes en fonte carrées et
                    rectangulaires. En fonte d’acier de haute qualité, la gamme Prisme profite d’un design moderne pour
                    apporter élégance et style à votre cuisine.
                </p>
            </div>
            <div class="col-12 col-sm-6 text-right">
                <img src="{{ cheminImage }}ronde-ovale.png" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid bg-verylightgrey block-frise-verticale py-5">
        <div class="row">
            <div class="col">
                <div class="container max-1065">
                    <div class="row">
                        <div class="col-12 col-sm-auto">
                            <div class="inner">
                                <div>
                                    <h3>Quelle capacité ?</h3>
                                </div>
                                <p class="frise">
                                    <b>Entre 16 et 21 cm de diamètre (de 1,2 à 2,5 litres)</b>
                                    <br>
                                    la cocotte convient à la préparation d’un repas pour une ou deux personnes
                                </p>
                                <p class="frise">
                                    <b>Environ 24 cm de diamètre</b>
                                    <br>
                                    Si vous souhaitez cuisiner pour 4 personnes, vous opterez
                                    pour une cocotte d’environ 24 cm de diamètre.
                                </p>
                                <p class="frise">
                                    <b>32 cm de diamètre</b>
                                    <br>
                                    Si vous recevez souvent et que vous souhaitez pouvoir facilement
                                    mijoter de bons petits plats pour 8 à 10 personnes, vous devrez vous tourner vers
                                    une cocotte en fonte de grande capacité. Mesurant 32 cm de diamètre, elle présente
                                    un grand volume de cuisson (9 litres).
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm text-center">
                            <img src="{{ cheminImage }}cocottes.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row pt-grey">
            <div class="col">
                <div class="container max-1065">
                    <div class="row">
                        <div class="col">
                            <div class="block-white">
                                <p>
                                    Selon le modèle choisi, nos cocottes sont proposées en plusieurs tailles et
                                    contenances (entre 16 et 32 cm de diamètre, de 1,2 à 9 litres). La taille moyenne
                                    d’une cocotte - la plus répandue - est de 4,5 litres. Elle convient à la préparation
                                    d’un repas pour 4 personnes.
                                </p>
                                <p>
                                    Pour choisir le bon modèle, vous pouvez vous référer au
                                    nombre de personnes qui compose votre famille. Plus vous êtes nombreux, plus votre
                                    ustensile de cuisson devra être large.
                                </p>
                                <p>
                                    Vous souhaitez en savoir plus sur les dimensions et le litrage de nos cocottes ?
                                    Rendez-vous sur notre page Conseils.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 seo-txt">
                <h3>Difficile de choisir la couleur de la cocotte ?</h3>
                <p>
                    Cocottes en fonte de couleur blanche, jaune, noire, orange, rouge ou verte… Nos cocottes sont
                    proposées en plusieurs coloris, pour s’adapter à tous les styles et à toutes les préférences
                    esthétiques. Si vous souhaitez investir dans un modèle intemporel, vous opterez plutôt pour une
                    couleur traditionnelle comme le rouge foncé, le noir ou l’orange flammé. Ces teintes classiques
                    reprennent les couleurs traditionnelles des cocottes de nos grands-mères.
                </p>
                <p>
                    Chez Sitram, nous proposons également de nouveaux coloris modernes et tendances. Jaune moutarde,
                    vert sauge ou encore beige argile… Ces couleurs originales vous permettent d’habiller votre table de
                    nuances gaies et ensoleillées. Équipées d’un bouchon en acier inoxydable, nos cocottes sont
                    également disponibles en finition mate ou brillante.
                </p>
                <p>
                    L’intérieur de nos cocottes peut être noir ou coquille d’œuf. L’avantage
                    du noir est que l’intérieur de la cocotte se tache moins. Néanmoins, il est plus facile de vérifier
                    ce que l’on cuisine sur un fond blanc.
                </p>
            </div>
            <div class="col-12 col-sm-6 text-right">
                <img src="{{ cheminImage }}couleur-cocotte.png" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid bg-verylightgrey pb-white">
        <div class="row">
            <div class="col">
                <div class="container max-1065 py-5">
                    <div class="row align-items-center mb-4">
                        <div class="col-12 col-sm">
                            <img src="{{ cheminImage }}meilleures-recettes-cocottes.png" alt="">
                        </div>
                        <div class="col-12 col-sm">
                            <h2 class="text-center txt-blue">Les meilleures recettes <span>à la cocotte en fonte</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row seo-txt">
                        <div class="col">
                            <h3>Les différents types de cuisson</h3>
                        </div>
                    </div>
                    <div class="row seo-txt">
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-white">
                                <h4>Une cuisson mijotée</h4>
                                <p>
                                    Les aliments cuisent dans un liquide à feu doux, pendant au moins
                                    une heure. Ils s’imprègnent ainsi du bouquet garni, du vin, de la sauce ou des
                                    épices
                                    incorporés dans la préparation
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-verylightgrey">
                                <h4>Une cuisson mijotée</h4>
                                <p>
                                    Les aliments cuisent dans un liquide à feu doux, pendant au moins
                                    une heure. Ils s’imprègnent ainsi du bouquet garni, du vin, de la sauce ou des
                                    épices
                                    incorporés dans la préparation
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-verylightgrey">
                                <h4>Une cuisson mijotée</h4>
                                <p>
                                    Les aliments cuisent dans un liquide à feu doux, pendant au moins
                                    une heure. Ils s’imprègnent ainsi du bouquet garni, du vin, de la sauce ou des
                                    épices
                                    incorporés dans la préparation
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-white">
                                <h4>Une cuisson mijotée</h4>
                                <p>
                                    Les aliments cuisent dans un liquide à feu doux, pendant au moins
                                    une heure. Ils s’imprègnent ainsi du bouquet garni, du vin, de la sauce ou des
                                    épices
                                    incorporés dans la préparation
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <div class="colored-slideshow js-colored-slideshow">
                    <div class="item flat-blue text-white">
                        <div class="row">
                            <div class="col">
                                <h3>Exemples de recettes réalisées avec une cocotte en fonte</h3>
                                <p>
                                    La cocotte permet de cuisiner facilement des grands classiques des repas du dimanche,
                                    comme une daube, une blanquette, un poulet basquaise, une garbure ou encore un
                                    jarret de porc. Mais elle permet également de préparer des plats plus exotiques
                                    comme des rougails, des currys et des tajines, ainsi que des recettes originales et
                                    surprenantes comme du pain en cocotte ou du pop-corn.
                                </p>
                                <h4>
                                    Tajine de poulet aux amandes et aux olives à la cocotte en fonte
                                </h4>
                                <p>
                                    Imaginez-vous rentrer à la maison après une journée de travail, vous approcher de la
                                    gazinière, soulever le couvercle de la cocotte qui mijote, et vous laisser
                                    transporter jusqu’à l’Afrique du Nord en une fraction de secondes.
                                </p>
                                <p>
                                    <b>
                                        Vous souhaitez découvrir encore plus de recettes savoureuses à réaliser dans votre
                                        cocotte Sitram ?
                                    </b>
                                </p>
                                <p>
                                    Rendez-vous sur notre page <a href="/recettes">Recettes</a>.
                                </p>
                            </div>
                            <div class="col text-right">
                                <img src="{{ cheminImage }}slide-cocotte-01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>