<div id="marque" class="cuisinons-vrai">
    <!-- INTRO -->
    <div class="container-fluid bg-img-wood intro">
        <div class="row">
            <div class="col">
                <div class="container mt-3 mt-lg-5">
                    <div class="row align-items-end">
                        <div class="col-12 col-lg-6">
                            {{ content.field_marque_cuisinons_banner }}
                        </div>
                        <div class="col-12 col-lg-6 pl-lg-5">
                            <div class="max-525 mt-4 mt-lg-0">
                                 {{ content.field_marque_cuisinons_intro }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container mt-5-80lg">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 pr-lg-5">
                <div class="max-525">
                     {{ content.field_marque_cuisinons_c1_txt }}
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                {{ content.field_marque_cuisinons_c1_img }}
            </div>
        </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="container-fluid bg-img-blue mt-5">
        <div class="row">
            <div class="col">
                <div class="container mt-5 bg-white">
                    <div class="row">
                        <div class="col-12 gutter-18">
                            <div class="container max-1165">
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-5">
                                        {# {{ content.field_marque_cuisinons_c2_title }} #}
                                        <h2 class="txt-blue pr-6rem">Comment mettre en pratique le
                                            <br><span>“Cuisinons vrai” ?</span></h2>
                                    </div>
                                    <div class="col-12 col-lg-7">
                                        {# {{ content.field_marque_cuisinons_c2_intro }} #}
                                        <p>
                                            Chez Sitram, nous sommes convaincus que la cuisine peut être source de
                                            bienfaits, d’épanouissement et de joie - sans complications et sans stress.
                                            Avec les bons produits, les bons ustensiles, quelques conseils avisés de la
                                            communauté et un peu de pratique… Tout le monde peut découvrir le bonheur de
                                            mitonner un bon repas à base d’ingrédients frais et de saison.<br> Que vous
                                            soyez totalement débutant en cuisine, en période d’expérimentation de
                                            recettes basiques, ou un cordon bleu confirmé qui pratique la cuisine comme
                                            une forme de loisir créatif voire artistique, l’essentiel pour cuisiner vrai
                                            est de respecter quelques “commandements” basiques.
                                        </p>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-6">
                                        {# {{ content.field_marque_cuisinons_c2_txts[0] }} #}
                                        <h3 class="txt-blue pr-10rem mt-3 mt-lg-0">Choisir des légumes et produits de saison</h3>
                                        <p class="txt-blue pr-6rem">
                                            Si c’est de saison, c’est probablement plus frais, moins cher et plus
                                            local : tout ce qu’on aime. Que ce soit sur les étals du marché ou dans
                                            les rayons de votre supermarché favori, soyez curieux des origines des
                                            produits frais que vous achetez.<br> S’ils ont voyagé des milliers de
                                            kilomètres, ce n’est pas une très bonne nouvelle pour la planète !
                                            Au-delà de la question écologique, c’est tellement agréable de suivre
                                            les saisons à travers les menus que vous concocterez ! Plats chaleureux
                                            et mijotés en hiver, menus vitaminés au printemps, grillades et
                                            ratatouilles en été, champignons et potirons en automne… Si vous êtes en
                                            panne d’inspiration, <a href="/recettes">consultez nos recettes</a>,
                                            elles sont classées par saison pour vous faciliter la tâche.
                                        </p>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                        {{ content.field_marque_cuisinons_c2_imgs[0] }}
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-6 pr-6rem mt-4 mt-lg-0">
                                        {{ content.field_marque_cuisinons_c2_imgs[1] }}
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        {# {{ content.field_marque_cuisinons_c2_txts[1] }} #}
                                        <h3 class="txt-blue mt-5 mt-lg-0">Cuisiner avec plaisir</h3>
                                        <p>
                                            Que l’on pense coquillettes au jambon, wok de légumes ou cailles aux cèpes
                                            et
                                            aux raisins, ce qui compte à la fin c’est de faire plaisir et de se faire
                                            plaisir.
                                        </p>
                                        <p>
                                            Si vous pensez ne pas avoir le temps de cuisiner, jetez donc un coup
                                            d’œil à nos recettes rapides pour les cuisiniers pressés. Vous serez surpris
                                            de
                                            ce qu’il est possible de réaliser en moins de 30 minutes !
                                        </p>
                                        <p>
                                            Si vous doutez de vos
                                            compétences en cuisine, pas de panique… Tout s’apprend, et quand l’envie est
                                            là,
                                            ce n’est plus qu’une question de pratique ! Nous avons concocté pour vous
                                            une
                                            sélection de recettes faciles et savoureuses pour vous lancer.
                                        </p>
                                        <p>
                                            Pour les plus
                                            aguerris en cuisine, nos recettes de chefs sauront satisfaire toutes les
                                            envies
                                            de challenge culinaire… Et si un jour l’envie n’y est pas, il n’est pas
                                            interdit
                                            de commander de temps en temps une bonne pizza à votre pizzaiolo préféré…
                                            Avant
                                            tout, restons dans la gourmandise et le plaisir.
                                        </p>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-6 pr-6rem">
                                        {# {{ content.field_marque_cuisinons_c2_txts[2] }} #}
                                        <h3 class="txt-blue pr-13rem mt-5 mt-lg-0">Choisir les bons ustensiles Sitram</h3>
                                        <p>
                                            Il est important de se sentir à l’aise avec ses ustensiles de cuisine,
                                            c’est l’un de ces petits détails qui font que l’on va passer un bon
                                            moment en cuisine, être fier du résultat et régaler ses convives. La
                                            prise en main, l’ergonomie des manches, tout ce qui facilite un geste
                                            fluide et précis participe à créer un moment agréable en cuisine.
                                        </p>
                                        <p>
                                            Yves Camdeborde, l’un de nos ambassadeurs de marque, explique très bien
                                            le
                                            lien particulier qu’il a avec son matériel de cuisine; il parle
                                            d’affinité, de relation presque affective avec sa cocotte en fonte par
                                            exemple.
                                        </p>
                                        <p>
                                            Si
                                            vous ne savez pas encore quel est votre ustensile favori,
                                            n’hésitez pas à faire notre Quiz <a href="/">Trouvez votre ustensile
                                                fétiche</a> !<br> Nous
                                            avons aussi voulu à travers ce site vous donner toutes les informations
                                            utiles pour choisir l’équipement qu’il vous faut pour vous régaler en
                                            cuisine avant, pendant et après la dégustation. Consultez par exemple
                                            nos pages <a href="/conseils/guide-materiaux">Guide des matériaux</a>,
                                            <a href="/conseils/guide-revetements">Guide des revêtements</a> ou
                                            encore les pages
                                            <a href="/conseils">Conseils aide aux choix</a>.
                                        </p>
                                        <p>
                                            Chacun d’entre nous est unique avec ses
                                            préférences, ses habitudes, ses recettes favorites… L’essentiel est de
                                            cuisiner avec sincérité !
                                        </p>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                        <div class="row">
                                            <div class="col">
                                                {{ content.field_marque_cuisinons_c2_imgs[2] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col pt-2 pr-5">
                                                <a class="js-open-video"
                                                   href="#">{{ content.field_marque_cuisinons_c2_imgs[3] }}</a>
                                                <div class="js-hidden-video">
                                                    <div class="inner">
                                                        <div>
                                                            <iframe width="800" height="800"
                                                                    src="{{ content.field_marque_cuisinons_c2_url[0] }}"
                                                                    frameborder="0"
                                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                    allowfullscreen></iframe>
                                                            <span class="js-close-hidden-video"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 3 -->
    <div class="container-fluid bg-verylightgrey mt-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row align-items-center mt-5">
                        <div class="col-12 col-lg-4">
                            <div class="text-mea">
                                {# {{ content.field_marque_cuisinons_c3_txts[0] }} #}
                                <a href="/sitram-et-moi/communaute" title="Voir la Communauté">
                                    <div>
                                        <h3 class="txt-blue communaute-title">Rejoignez la <span>communauté Sitram !</span></h3>
                                        <p>
                                            Si vous partagez les valeurs de convivialité et de gourmandise qui nous
                                            rassemblent,
                                            n’hésitez pas à venir rejoindre les rangs des gourmands et gourmandes de la
                                            communauté autour du #sitrametmoi. Astuces, recettes, photos s’échangent et
                                            se
                                            dégustent sans modération via nos réseaux sociaux qui vous sont grands
                                            ouverts !
                                        </p>
                                    </div>
                                    <span class="fleche">Voir la Communauté</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            {{ content.field_marque_cuisinons_c3_imgs[0] }}
                        </div>
                    </div>
                    <div class="row align-items-center mt-5">
                        <div class="col-12 col-lg-8">
                            {{ content.field_marque_cuisinons_c3_imgs[1] }}
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="text-mea">
                                {# {{ content.field_marque_cuisinons_c3_txts[1] }} #}
                                <a class="ambassadeurs" href="/sitram-et-moi/rencontres" title="Découvrez nos ambassadeurs">
                                    <div>
                                        <h3 class="txt-blue h3-custom">Découvrez nos ambassadeurs</h3>
                                        <p>
                                            Ils font vivre et accompagnent notre marque grâce à leur expertise et à
                                            leurs valeurs dans lesquelles nous nous reconnaissons.
                                        </p>
                                    </div>
                                    <span class="fleche">Je découvre</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 mt-lg-5 mb-5">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="text-mea">
                    {# {{ content.field_marque_cuisinons_c3_txts[2] }} #}
                    <a href="/newsletter" title="Newsletter">
                        <div>
                            <h3 class="txt-blue h3-custom">Newsletter</h3>
                            <p>
                                Pas d’appétence ou pas de temps pour les réseaux sociaux ? Pas de problème,
                                si vous nous laissez votre adresse, nous vous enverrons de temps en temps
                                des nouvelles de Sitram, des recettes et des astuces culinaires ou des
                                jeux-concours par e-mail.
                            </p>
                        </div>
                        <span class="fleche">Je M’inscris</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-lg-3">
                {{ content.field_marque_cuisinons_c3_imgs[2] }}
            </div>
        </div>
    </div>
</div>