<div id="conseils-indiv" class="casseroles mb-5">
    <div id="ban-intro" class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            {{ content.field_cons_casserole_banniere }}
                        </div>
                    </div>
                </div>

                <!-- INTRO -->
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h1>{{ content.field_cons_casserole_intro }}</h1>
                        </div>
                    </div>
                </div>

                <div class="container max-1065">
                    <div class="row">
                        {% for i in 0..1 %}
                            <div class="col-12 col-sm-6">
                                {{ content.field_cons_casserole_intro_txt[i] }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container max-1350">
        <!-- CONTENT 1 -->
        <div class="row my-5">
            <div class="col-12 col-md-5 text-right">
                <span class="number">1</span>
                <div class="max-455 pt-115">
                    {{ content.field_cons_casserole_c1_txt }}
                </div>
            </div>
            <div class="col-12 col-md-7 text-right">
                {{ content.field_cons_casserole_c1_img }}
            </div>
        </div>

        <!-- CONTENT 2 -->
        <div class="row align-items-center my-5">
            <div class="col">
                <span class="number yellow">2</span>
                <div class="pt-115 pl-85">
                    {{ content.field_cons_casserole_c2_txt }}
                </div>
            </div>
        </div>

        <!-- CONTENT 3 -->
        <div class="row my-5">
            <div class="col-12 col-md-5 text-right">
                <span class="number">3</span>
                <div class="max-455 pt-115">
                    {{ content.field_cons_casserole_c3_txts[0] }}
                    <div class="svg-infos mt-4">
                        <div class="row text-center mt-5">
                            {% for i in 0..3 %}
                                <div class="col-6 col-md-3">
                                    {{ content.field_cons_cas_c3_pictos_imgs[i] }}
                                    <small>{{ content.field_cons_cas_c3_pictos_txts[i] }}</small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="bg-green d-flex h-100 mx-4">
                    <div class="m-auto text-white max-455">
                        {{ content.field_cons_casserole_c3_txts[1] }}
                        <div class="svg-infos small mt-5">
                            <div class="row text-center text-white">
                                {% for i in 4..6 %}
                                    <div class="col-6 col-md-4">
                                        {{ content.field_cons_cas_c3_pictos_imgs[i] }}
                                        <small>{{ content.field_cons_cas_c3_pictos_txts[i] }}</small>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT 4 -->
        <div class="row my-5">
            <div class="col-12">
                <span class="number yellow">4</span>
                <div class="pt-115 pl-85">
                    {{ content.field_cons_casserole_c4_intro }}
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1256">
        <div class="row my-5 no-gutters">
            <div class="col-12 col-sm bg-verylightgrey">
                {{ content.field_cons_casserole_c4_imgs[0]}}
                <div class="p-5">
                    {{ content.field_cons_casserole_c4_txts[0]}}
                </div>
            </div>
            <div class="col-12 col-sm">
                {{ content.field_cons_casserole_c4_imgs[1]}}
                <div class="p-5">
                    {{ content.field_cons_casserole_c4_txts[1]}}
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1350">
        <!-- CONTENT 5 / INTRO -->
        <div class="row my-5">
            <div class="col-12">
                <span class="number">5</span>
                <div class="pt-115 pl-85">
                    {{ content.field_cons_casserole_c5_intro }}
                </div>
            </div>
        </div>

        <!-- CONTENT 5 / TABS -->
        <div class="row my-5">
            <div class="col">
                <div class="pl-85">
                    <ul class="nav mb-4 custom-tabs pl-0" id="pills-tab" role="tablist">
                        {% for i in 0..1 %}
                            <li class="nav-item">
                                <a class="nav-link {% if i == 0 %}active{% endif %}"
                                   id="pills-{{ i }}-tab"
                                   data-toggle="pill"
                                   href="#pills-{{ i }}"
                                   role="tab"
                                   aria-controls="pills-home"
                                   aria-selected="true">
                                    {{ content.field_cons_casserole_c5_tab_menu[i] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="pills-tabContent">

                        <!-- TAB 1 -->
                        <div class="tab-pane fade show active" id="pills-0" role="tabpanel"
                             aria-labelledby="pills-1-tab">
                            <div class="row my-5">
                                {{ content.field_cons_casserole_c5_tab_tops[0] }}
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6 text-center">
                                    <div class="max-455 mt-5">
                                        <span class="picto-plus"></span>
                                        {{ content.field_cons_casserole_c5_tab_txts[0] }}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 text-center">
                                    <div class="max-455 mt-5">
                                        <span class="picto-moins"></span>
                                        {{ content.field_cons_casserole_c5_tab_txts[1] }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- TAB 2 -->
                        <div class="tab-pane fade" id="pills-1" role="tabpanel"
                             aria-labelledby="pills-2-tab">
                            <div class="row my-5">
                                {{ content.field_cons_casserole_c5_tab_tops[1] }}
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6 text-center">
                                    <div class="max-455 mt-5">
                                        <span class="picto-plus"></span>
                                        {{ content.field_cons_casserole_c5_tab_txts[2] }}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 text-center">
                                    <div class="max-455 mt-5">
                                        <span class="picto-moins"></span>
                                        {{ content.field_cons_casserole_c5_tab_txts[3] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT 5 / TEXT END -->
        <div class="row my-5">
            <div class="col">
                <div class="pl-85">
                    {{ content.field_cons_casserole_c5_outro }}
                </div>
            </div>
        </div>

        <!-- CONTENT 6 -->
        <div class="row my-5">
            <div class="col-12">
                <span class="number yellow">6</span>
                <div class="pt-115 pl-85">
                    {{ content.field_cons_casserole_c6_txt }}
                </div>
                <div class="row my-5">
                    <div class="col">
                        <div class="bottom-highlight bg-green">
                            {{ content.field_cons_casserole_c6_outro }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>