<div id="marque" class="les-engagements">
    <!-- INTRO -->
    <div class="container-fluid bg-grey-custom">
        <div class="row">
            <div class="col">
                <div class="container mt-3 mt-lg-5">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ content.field_marque_engagements_banner }}
                        </div>
                        <div class="col-12 col-lg-6 my-auto pl-lg-5">
                            <div class="max-525">
                                {{ content.field_marque_engagements_intro }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <!-- CONTENT 1-->
        <div class="row">
            <div class="col-12 col-lg-6 pr-lg-5">
                <div class="max-525">
                    {{ content.field_marque_engagements_c1_txt }}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-5 my-lg-0">
                <div class="bg-verylightgrey h-100 d-flex align-items-center justify-content-center">
                    {{ content.field_marque_engagements_c1_img }}
                </div>
            </div>
        </div>

        <!-- CONTENT 2-->
        <div class="row my-3 my-lg-5">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        {{ content.field_marque_engagements_c2_intr }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col px-3">
                        <div class="row">
                            <div class="col-12 col-md-6 p-5 bg-verylightgrey">
                                {{ content.field_marque_engagements_c2_txts[0] }}
                            </div>
                            <div class="col-12 col-md-6 p-5">
                                {{ content.field_marque_engagements_c2_txts[1] }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        {{ content.field_marque_engagements_c2_outr }}
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT 3-->
        <div class="row mb-5">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        {{ content.field_marque_engagements_c3_intr }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                        {{ content.field_marque_engagements_c3_txts[0] }}
                        {{ content.field_marque_engagements_c3_imgs[0] }}
                    </div>
                    <div class="col-12 col-lg-6 mt-4 mt-lg-0 d-flex flex-column justify-content-between">
                        {{ content.field_marque_engagements_c3_txts[1] }}
                        {{ content.field_marque_engagements_c3_imgs[1] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>