<div id="marque" class="cuisinons-vrai">
    <!-- INTRO -->
    <div class="container-fluid bg-img-wood intro">
        <div class="row">
            <div class="col">
                <div class="container mt-3 mt-lg-5">
                    <div class="row align-items-end">
                        <div class="col-12 col-lg-6">
                            {{ content.field_marque_cuisinons_banner }}
                        </div>
                        <div class="col-12 col-lg-6 pl-lg-5">
                            <div class="max-525 mt-4 mt-lg-0">
                                 {{ content.field_marque_cuisinons_intro }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container mt-5-80lg">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 pr-lg-5">
                <div class="max-525">
                     {{ content.field_marque_cuisinons_c1_txt }}
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                {{ content.field_marque_cuisinons_c1_img }}
            </div>
        </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="container-fluid bg-img-blue mt-5">
        <div class="row">
            <div class="col">
                <div class="container mt-5 bg-white">
                    <div class="row">
                        <div class="col-12 gutter-18">
                            <div class="container max-1165">
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-5">
                                         {{ content.field_marque_cuisinons_c2_title }}
                                    </div>
                                    <div class="col-12 col-lg-7">
                                         {{ content.field_marque_cuisinons_c2_intro }}
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-6">
                                         {{ content.field_marque_cuisinons_c2_txts[0] }}
                                    </div>
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                        {{ content.field_marque_cuisinons_c2_imgs[0] }}
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-6 pr-6rem mt-4 mt-lg-0">
                                        {{ content.field_marque_cuisinons_c2_imgs[1] }}
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         {{ content.field_marque_cuisinons_c2_txts[1] }}
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3-80lg">
                                    <div class="col-12 col-lg-6 pr-6rem">
                                         {{ content.field_marque_cuisinons_c2_txts[2] }}
                                    </div>
                                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                        <div class="row">
                                            <div class="col">
                                                {{ content.field_marque_cuisinons_c2_imgs[2] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col pt-2 pr-5">
                                                <a class="js-open-video"
                                                   href="#">{{ content.field_marque_cuisinons_c2_imgs[3] }}</a>
                                                <div class="js-hidden-video">
                                                    <div class="inner">
                                                        <div>
                                                            <iframe width="800" height="800"
                                                                    src="{{ content.field_marque_cuisinons_c2_url[0] }}"
                                                                    frameborder="0"
                                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                    allowfullscreen></iframe>
                                                            <span class="js-close-hidden-video"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 3 -->
    <div class="container-fluid bg-verylightgrey mt-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row align-items-center mt-5">
                        <div class="col-12 col-lg-4">
                            <div class="text-mea">
                                 {{ content.field_marque_cuisinons_c3_txts[0] }}
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            {{ content.field_marque_cuisinons_c3_imgs[0] }}
                        </div>
                    </div>
                    <div class="row align-items-center mt-5">
                        <div class="col-12 col-lg-8">
                            {{ content.field_marque_cuisinons_c3_imgs[1] }}
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="text-mea">
                                 {{ content.field_marque_cuisinons_c3_txts[1] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 mt-lg-5 mb-5">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="text-mea">
                     {{ content.field_marque_cuisinons_c3_txts[2] }}
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-lg-3">
                {{ content.field_marque_cuisinons_c3_imgs[2] }}
            </div>
        </div>
    </div>
</div>