{% set cheminImage = 'sites/sitram/themes/sitram/images/TEMP/conseils-cocottes/' %}

<div id="conseils-indiv" class="cocottes mb-5">
    <div id="ban-intro" class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            <img src="{{ cheminImage }}conseils-cocottes-004.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h1>COMMENT BIEN CHOISIR VOTRE COCOTTE ?</h1>
                        </div>
                    </div>
                </div>

                <div class="container max-1065">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p>
                                Les cocottes en fonte sont des ustensiles de cuisson qui séduisent de plus en plus.
                                Elles permettent en effet de réaliser de nombreuses recettes grâce à une cuisson à
                                l’étouffée, offrant ainsi une cuisine simple, authentique et familiale. Chez Sitram,
                                nous proposons plusieurs modèles de cocottes en fonte, pour répondre à toutes les
                                préférences et à tous les besoins.
                            </p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p>
                                Matériaux, capacités, couleurs et formes… Comment choisir la meilleure cocotte ?
                                Pourquoi opter pour une cocotte en fonte ? Et comment bien entretenir votre ustensile,
                                pour prolonger sa durée de vie ?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container max-1350">
        <div class="row my-5">
            <div class="col-12 col-md-5 text-right">
                <span class="number">1</span>
                <div class="max-455 pt-115">
                    <h2 class="txt-blue">Quelle forme de cocotte ?</h2>
                    <p>
                        Pour vous permettre de réaliser une grande variété de plats, Sitram vous propose plusieurs
                        formes de cocottes : • des cocottes ovales : il s’agit de la forme la plus classique, et de la
                        cocotte la plus polyvalente. Elle permet de cuire des grosses pièces de viandes, des rôtis, des
                        volailles et des poissons entiers, ainsi que tous types de plats mijotés ; • des cocottes rondes
                        : plus originale, cette forme est plutôt destinée à la cuisson de tous les plats mijotés
                        traditionnels (blanquette de veau, navarin d’agneau, bœuf bourguignon…) ; • des cocottes carrées
                        (et rectangulaires) : profitant d’un design plus contemporain, ces ustensiles de cuisson
                        apportent une touche de modernité et d’originalité à votre cuisine.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-7 text-right">
                <img src="{{ cheminImage }}conseils-cocottes-003.jpg" alt="">
            </div>
        </div>

        <div class="row align-items-center my-5">
            <div class="col">
                <span class="number yellow">2</span>
                <div class="pt-115 pl-85">
                    <h2 class="txt-yellow">Quelle capacité ?</h2>
                    <img class="mb-4" src="{{ cheminImage }}conseils-cocottes-002.jpg" alt="">
                    <p>
                        La poêle est probablement l’ustensile de cuisson le plus utilisé au quotidien. Il faut donc
                        veiller à choisir une poêle à la taille adaptée. Elle doit vous permettre de faire cuire la
                        quantité d’aliments correspondant au nombre de convives habituels autour de votre table. Pensez
                        également à investir dans une deuxième poêle plus petite, pour compléter votre capacité de
                        cuisson lorsque vous avez des invités, ou pour réchauffer une petite quantité de restes par
                        exemple.
                    </p>
                    <p>
                        Voici quelques indications de diamètre, qui peuvent varier en fonction de la profondeur
                        de la poêle :
                    </p>

                    <table class="yellow-table mb-4">
                        <tr class="head">
                            <td>Capacité (litres)</td>
                            <td>Convient pour</td>
                        </tr>
                        <tr>
                            <td>1.2 L</td>
                            <td>1 personne</td>
                        </tr>
                        <tr>
                            <td>1.2 L</td>
                            <td>1 personne</td>
                        </tr>
                        <tr>
                            <td>1.2 L</td>
                            <td>1 personne</td>
                        </tr>
                        <tr>
                            <td>1.2 L</td>
                            <td>1 personne</td>
                        </tr>
                        <tr>
                            <td>1.2 L</td>
                            <td>1 personne</td>
                        </tr>
                        <tr>
                            <td>1.2 L</td>
                            <td>1 personne</td>
                        </tr>
                    </table>

                    <p>
                        • Pour un foyer de 2 adultes ou 2 adultes et 1 enfant, vous pouvez par exemple choisir 1 poêle
                        de 20 cm et 1 poêle de 24 cm. • Pour un foyer de 2 adultes et 2 enfants, vous pouvez opter pour
                        1 poêle de 20 cm et 1 poêle de 28 cm. • Pour un foyer de 2 adultes et 3 enfants ou 4 adultes,
                        vous pouvez investir dans 1 poêle de 20 cm, 1 poêle de 26 cm et 1 poêle de 32 cm SITRAM propose
                        des solutions astucieuses pour optimiser la place dans vos placards. Équipées d’une poignée
                        amovible, nos gammes Sitramovible ou Sitramulti permettent d’emboîter les poêles les unes dans
                        les autres. Si le choix du diamètre de votre poêle varie en fonction du nombre de personnes qui
                        composent votre foyer, il dépend également de votre équipement de cuisson.
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12 col-md-5 text-right">
                <span class="number">3</span>
                <div class="max-455 pt-115">
                    <h2 class="txt-blue">Vérifier la compatibilité de la cocotte</h2>
                    <p>
                        Chez Sitram, nous vous proposons exclusivement des cocottes en fonte. Ces ustensiles de cuisson
                        tout terrain sont compatibles avec tous types de feu (plaques électriques classiques,
                        vitrocéramiques ou à induction, cuisinière à gaz).
                    </p>
                    <p>
                        Polyvalents et robustes, tous nos modèles de
                        cocottes passent également au four.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="bg-green d-flex h-100 mx-4 py-5">
                    <div class="m-auto text-white max-455">
                        <p>
                            Toutes les cocottes ne sont pas toujours compatibles avec tous les équipements de cuisson,
                            si elles ne sont pas en fonte. Avant de choisir votre ustensile, renseignez-vous bien sur sa
                            compatibilité et vérifiez les pictogrammes apposés sur sa surface.
                        </p>
                        <div class="svg-infos my-4">
                            <div class="row text-center">
                                <div class="col-6 col-md-3">
                                    <img src="{{ cheminImage }}gaz.svg" alt="">
                                    <small>Gaz</small>
                                </div>
                                <div class="col-6 col-md-3">
                                    <img src="{{ cheminImage }}electrique.svg" alt="">
                                    <small>Plaque éléctrique</small>
                                </div>
                                <div class="col-6 col-md-3">
                                    <img src="{{ cheminImage }}vitro.svg" alt="">
                                    <small>Plaque vitrocéramique et halogène</small>
                                </div>
                                <div class="col-6 col-md-3">
                                    <img src="{{ cheminImage }}induction.svg" alt="">
                                    <small>Induction</small>
                                </div>
                            </div>
                        </div>
                        <p>
                            Vérifiez toujours la compatibilité de votre ustensile grâce aux pictogrammes suivants,
                            apposés sur l’emballage de votre produit :
                        </p>
                        <div class="svg-infos small mt-5">
                            <div class="row text-center text-white">
                                <div class="col-6 col-md-4">
                                    <img src="{{ cheminImage }}four-interdit.svg" alt="">
                                    <small>Four interdit</small>
                                </div>
                                <div class="col-6 col-md-4">
                                    <img src="{{ cheminImage }}max_180.svg" alt="">
                                    <small>Passe au four, maximum 180°</small>
                                </div>
                                <div class="col-6 col-md-4">
                                    <img src="{{ cheminImage }}max_250.svg" alt="">
                                    <small>Passe au four, maximum 250°</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12">
                <span class="number yellow">4</span>
                <div class="pt-115 pl-85">
                    <h2 class="txt-yellow">
                        Quel matériau pour votre cocotte ?
                    </h2>
                    <p>
                        Les cocottes sont proposées en plusieurs matériaux, possédant chacun ses caractéristiques
                        propres (en céramique, en argile ou en terre cuite, en fonte). La cocotte en fonte est le
                        modèle le plus traditionnel et le plus authentique. Elle offre une cuisson lente et
                        régulière (à basse température), pour des aliments particulièrement savoureux. Elle peut
                        être utilisée sur tous types de feux, et placée au four. La cocotte en fonte émaillée offre
                        l’avantage d’être très résistante et particulièrement hygiénique. L’émail protège la fonte
                        de l’oxydation (et de la rouille) et facilite son nettoyage. Pour que les aliments
                        n’accrochent pas, une petite quantité de matière grasse doit être ajoutée.
                    </p>
                    <div class="p-4 bg-verylightgrey">
                        <p>
                            Sitram vous propose plusieurs modèles de cocottes en fonte émaillée. Polyvalentes, elles
                            permettent de réaliser plusieurs types de cuisson : les aliments peuvent être frits, cuits,
                            mijotés, braisés ou encore rôtis. Compatibles avec une cuisson au four, elles permettent
                            même de
                            faire du pain !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>