<div id="service-client">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center intro">
                {{ content.field_serviceclient_intro }}
            </div>
        </div>
    </div>

    <div id="content-1" class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 my-2">
                <div class="img-shade">
                    {{ content.field_serviceclient_content1_img[0] }}
                    <div class="text-mea d-flex-absolute">
                        {{ content.field_serviceclient_content1_txt[0] }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 my-2">
                <div class="bg-yellow fake-height">
                    <div class="text-mea d-flex-absolute">
                        {{ content.field_serviceclient_content1_txt[1] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 my-2">
                <div class="bg-blue fake-height">
                    <div class="text-mea d-flex-absolute">
                        {{ content.field_serviceclient_content1_txt[2] }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 my-2">
                <div class="bg-salmon txt-bordeaux fake-height">
                    <div class="text-mea d-flex-absolute">
                        {{ content.field_serviceclient_content1_txt[3] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 my-2">
                <div class="img-shade">
                    {{ content.field_serviceclient_content1_img[1] }}
                    <div class="text-mea d-flex-absolute">
                        {{ content.field_serviceclient_content1_txt[4] }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 my-2">
                <div class="bg-green fake-height">
                    <div class="text-mea d-flex-absolute">
                        {{ content.field_serviceclient_content1_txt[5] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>