<div id="rencontres">
    <!-- INTRO -->
    <div class="container-fluid" id="ban-intro">
        <div class="row">
            <div class="col">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ content.field_rencontres_banner }}
                        </div>
                        <div class="col-12 col-lg-6 my-auto pl-lg-5">
                            {{ content.field_rencontres_intro }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set rencontreCount = content.field_rencontres_content_txts['#items']|length - 1 %}
    {% for i in 0..rencontreCount %}
        {% if i is odd %}
            <div class="container-fluid bg-verylightgrey mt-lg-5 py-lg-5">
                <div class="container mt-lg-5 mb-4">
                    <div class="row">
                        <div class="col-12 col-lg-6 my-4 my-lg-0">
                            <span id="interview-{{ i }}" class="offset-anchor"></span>
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                {{ content.field_rencontres_content_imgs[i] }}
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 my-auto">
                            <div class="text-right">
                                <div class="text-left max-550 d-inline-block">
                                    {{ content.field_rencontres_content_txts[i] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container mt-lg-5 mb-4">
                <div class="row">
                    <div class="col-12 col-lg-6 my-auto order-lg-first">
                        <div class="max-550">
                            {{ content.field_rencontres_content_txts[i] }}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 my-4 my-lg-0 order-first">
                        <span id="interview-{{ i }}" class="offset-anchor"></span>
                        <div class="h-100 d-flex align-items-center justify-content-center">
                            {{ content.field_rencontres_content_imgs[i] }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>