<div id="produit" class="specifique">
    <!-- INTRO -->
    <div class="container-fluid">
        <div id="ban-intro" class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            {{ content.field_prod_specif_ban }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            {{ content.field_prod_specif_title }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row">
            <div class="col-12 col-sm-6">
                {{ content.field_prod_specif_intro[0] }}
            </div>
            <div class="col-12 col-sm-6">
                {{ content.field_prod_specif_intro[1] }}
            </div>
        </div>

        <hr class="my-4 mt-xl-5"/>

        <!-- CONTENT 1 -->
        <div class="row">
            <div class="col">
                {{ content.field_prod_specif_c1_intro }}
            </div>
        </div>

        <div class="container max-1065 gutter-27 content-specif">
            {% for i in 0..3 %}
                <div class="row align-items-center my-3 my-sm-5">
                    <div class="col-sm-6 {% if i is even %}col-12 order-lg-2{% endif %}">
                        {{ content.field_prod_specif_c1_txts[i] }}
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        {{ content.field_prod_specif_c1_imgs[i] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- CONTENT 2-->
    <div class="container-fluid bg-img-blue mb-sm-4">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-white">
                            {{ content.field_prod_specif_c2_title }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ content.field_prod_specif_c2_img }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065 gutter-27 content-specif">
        <div class="row mt-3 mt-lg-5">
            <div class="col-12">
                {{ content.field_prod_specif_c2_txt }}
            </div>
        </div>

        <!-- CONTENT 3-->
        {% for i in 0..1 %}
            <div class="row align-items-center my-5">
                <div class="col-12 col-sm-6 {% if i is odd %}order-lg-2{% endif %}">
                    {{ content.field_prod_specif_c3_txts[i] }}
                </div>
                <div class="col-12 col-sm-6 my-4">
                    {{ content.field_prod_specif_c3_imgs[i] }}
                </div>
            </div>
        {% endfor %}

        <!-- CONTENT 4 -->
        <div class="row mt-3 mt-lg-5">
            <div class="col-12">
                 {{ content.field_prod_specif_c4_intro }}
                <div class="p-4">
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6 bg-verylightgrey">
                            <div class="py-5 px-4">
                                 {{ content.field_prod_specif_c4_txts[0] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="py-5 px-4">
                                {{ content.field_prod_specif_c4_txts[1] }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 bg-verylightgrey">
                            <div class="py-5 px-4">
                                {{ content.field_prod_specif_c4_txts[2] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="py-5 px-4">
                                {{ content.field_prod_specif_c4_txts[3] }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 bg-verylightgrey">
                            <div class="py-5 px-4">
                                {{ content.field_prod_specif_c4_txts[4] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="py-5 px-4">
                                {{ content.field_prod_specif_c4_txts[5] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-12 col-sm-6">
                <div class="mb-3">
                    {{ content.field_prod_specif_c4_outro }}
                </div>
            </div>
        </div>
    </div>
</div>