<div id="produit" class="cocotte">
    <div class="container-fluid">
        <div id="ban-intro" class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            {{ content.field_prod_cocottes_ban }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            {{ content.field_prod_cocottes_c1_intro }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row">
            <div class="col-12 col-sm-6">
                {{ content.field_prod_cocottes_c1_txts[0] }}
            </div>
            <div class="col-12 col-sm-6">
                {{ content.field_prod_cocottes_c1_txts[1] }}
            </div>
        </div>

        <hr class="my-5"/>

        <div class="row">
            <div class="col">
                <h2 class="text-center txt-blue mb-5">
                    {{ content.field_prod_cocottes_c2_intro }}
                </h2>
            </div>
        </div>
    </div>

    <div class="container max-1065 gutter-27 content-1">
        {% for i in 0..5 %}
            <div class="row align-items-center my-4">
                <div class="col-12 col-sm-6 seo-txt {% if i is odd %}order-lg-2{% endif %}">
                    {{ content.field_prod_cocottes_c2_txts[i] }}
                </div>
                <div class="col-12 col-sm-6">
                    {{ content.field_prod_cocottes_c2_imgs[i] }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container-fluid bg-img-blue mb-4">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="my-5 text-white">
                                {{ content.field_prod_cocottes_c3_intro }}
                            </h2>
                        </div>
                    </div>
                    <div class="row text-center">
                        {% for i in 0..2 %}
                            <div class="col-12 col-sm-4">
                                {{ content.field_prod_cocottes_c3_imgs[i] }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row">
            <div class="col seo-txt">
                {{ content.field_prod_cocottes_c3_txt }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 seo-txt">
                {{ content.field_prod_cocottes_c3_forme_txt }}
            </div>
            <div class="col-12 col-sm-6 text-right">
                {{ content.field_prod_cocottes_c3_forme_img }}
            </div>
        </div>
    </div>

    <div class="container-fluid bg-verylightgrey block-frise-verticale py-5">
        <div class="row">
            <div class="col">
                <div class="container max-1065">
                    <div class="row">
                        <div class="col-12 col-sm-auto">
                            <div class="inner">
                                {{ content.field_prod_cocottes_c3_capa_txt[0] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm text-center">
                            {{ content.field_prod_cocottes_c3_capa_svg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row pt-grey">
            <div class="col">
                <div class="container max-1065">
                    <div class="row">
                        <div class="col">
                            <div class="block-white">
                                {{ content.field_prod_cocottes_c3_capa_end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-1065">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 seo-txt">
                {{ content.field_prod_cocottes_c3_color_txt }}
            </div>
            <div class="col-12 col-sm-6 text-right">
                {{ content.field_prod_cocottes_c3_color_img }}
            </div>
        </div>
    </div>

    <div class="container-fluid bg-verylightgrey pb-white">
        <div class="row">
            <div class="col">
                <div class="container max-1065 py-5">
                    <div class="row align-items-center mb-4">
                        <div class="col-12 col-sm">
                            {{ content.field_prod_cocottes_c4_img }}
                        </div>
                        <div class="col-12 col-sm">
                            <h2 class="text-center txt-blue">
                                {{ content.field_prod_cocottes_c4_intro }}
                            </h2>
                        </div>
                    </div>
                    <div class="row seo-txt">
                        <div class="col">
                            {{ content.field_prod_cocottes_c4_title }}
                        </div>
                    </div>
                    <div class="row seo-txt">
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-white">
                                {{ content.field_prod_cocottes_c4_txts[0] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-verylightgrey">
                                {{ content.field_prod_cocottes_c4_txts[1] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-verylightgrey">
                                {{ content.field_prod_cocottes_c4_txts[2] }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="inner-block p-5 bg-white">
                                {{ content.field_prod_cocottes_c4_txts[3] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <div class="colored-slideshow js-colored-slideshow">
                    <div class="item flat-blue text-white">
                        <div class="row">
                            <div class="col">
                                {{ content.field_prod_cocottes_c5_txt }}
                            </div>
                            <div class="col text-right">
                                {{ content.field_prod_cocottes_c5_img }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>