<!-- A SUPPR APRES INTE DRUPAL -->
{% set cheminImage = 'sites/sitram/themes/sitram/images/TEMP/produits-poeles/' %}

<div id="produit" class="poele">
    <div id="ban-intro" class="container-fluid">
        <div class="row mb-5">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">

                            {# DEBUT {{ content.field_produits_poeles_ban }}#}
                            <img src="{{ cheminImage }}produits-poeles-ban.jpg"/>
                            {# FIN {{ content.field_produits_poeles_ban }}#}

                        </div>
                    </div>
                </div>
                <div class="container max-1065">

                    {# DEBUT {{ content.field_prod_poeles_intro }}#}
                    <div class="row">
                        <div class="col text-center">
                            <h1>LA POÊLE, <span>UN USTENSILE DE CUISSON INDISPENSABLE</span></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p>
                                Si on ne devait avoir qu’un seul ustensile de cuisson, ce serait une poêle : c’est en
                                effet l’objet le plus utilisé pour préparer les repas au quotidien. On y fait cuire
                                quasiment tout : des œufs au plat ou en omelettes, des steaks, des poissons entiers ou
                                en filets, des sautés de volaille, des préparations panées, des légumes dorés à l’huile
                                d’olive, des plats en sauce, des recettes diététiques et même des desserts…
                            </p>
                            <p>
                                La poêle est un ustensile incontournable dans la cuisine !
                            </p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p>
                                Chez Sitram, nous vous proposons une gamme complète de poêles garanties sans PFOA,
                                adaptées à toutes les situations. Qu’il s’agisse de se lancer dans la préparation rapide
                                d’un plat très simple, de s’essayer à une nouvelle expérience culinaire ou d’innover
                                avec une recette pour cuisiniers confirmés, il y a forcément une poêle Sitram pour vous
                                !
                            </p>
                            <p>
                                Découvrez tous les modèles proposés par Sitram, et choisissez la poêle la plus adaptée à
                                vos besoins.
                            </p>
                        </div>
                    </div>

                    <hr class="my-5"/>

                    <div class="row align-items-center">
                        <div class="col-12 col-sm-6">
                            <h2 class="txt-blue">Les différents modèles de poêles <b>chez Sitram</b></h2>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p>
                                En aluminium ou tout inox, avec manche amovible ou non, spécial grillades, crêpes ou
                                recettes asiatiques… Sitram vous propose une gamme complète de poêles :
                            </p>
                            <p>
                                Des poêles en aluminium à manche fixe, des poêles en aluminium à manche amovible, des
                                poêles tout inox, des poêles en inox avec revêtement, des poêles grill, des crêpières,
                                des sauteuses et sautoirs, des woks.
                            </p>
                        </div>
                    </div>
                    {# FIN {{ content.field_prod_poeles_intro }}#}

                </div>
            </div>
        </div>

        <div class="row bg-verylightgrey mb-5">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col py-3">
                            <div class="js-grid-masonry">
                                <div class="grid-sizer col-md-3"></div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3">
                                    {# DEBUT {{ content.field_prod_poeles_masonry_imgs[0] }}#}
                                    <img src="{{ cheminImage }}masonry-produit-poele-01.jpg"/>
                                    {# FIN {{ content.field_prod_poeles_masonry_imgs[0] }}#}

                                    {# DEBUT {{ content.field_prod_poeles_masonry_txts[0] }}#}
                                    <div class="txt">
                                        <h3>Pôele en aluminium,<br/><span>Manche fixe</span></h3>
                                        <p>Votre alliée du quotidien</p>
                                    </div>
                                    {# FIN {{ content.field_prod_poeles_masonry_txts[0] }}#}
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3 pt-lg-5">
                                    {# DEBUT {{ content.field_prod_poeles_masonry_imgs[1] }}#}
                                    <img src="{{ cheminImage }}masonry-produit-poele-02.jpg"/>
                                    {# FIN {{ content.field_prod_poeles_masonry_imgs[1] }}#}

                                    {# DEBUT {{ content.field_prod_poeles_masonry_txts[1] }}#}
                                    <div class="txt">
                                        <h3>Pôele en aluminium,<br/><span>Manche amovible</span></h3>
                                        <p>Pratique avant tout</p>
                                    </div>
                                    {# FIN {{ content.field_prod_poeles_masonry_txts[1] }}#}
                                    {# etc, etc #}
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3">
                                    <img src="{{ cheminImage }}masonry-produit-poele-03.jpg"/>
                                    <div class="txt">
                                        <h3>Pôele, <span>inox</span></h3>
                                        <p>Saine, simple et élégante</p>
                                    </div>
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3 pt-lg-5">
                                    <img src="{{ cheminImage }}masonry-produit-poele-04.jpg"/>
                                    <div class="txt">
                                        <h3>Pôele,<br/><span>grill</span></h3>
                                        <p>Presque comme un barbecue</p>
                                    </div>
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3">
                                    <img src="{{ cheminImage }}masonry-produit-poele-05.jpg"/>
                                    <div class="txt">
                                        <h3>Pôele en aluminium,<br/><span>Manche fixe</span></h3>
                                        <p>Votre alliée du quotidien</p>
                                    </div>
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3">
                                    <img src="{{ cheminImage }}masonry-produit-poele-06.jpg"/>
                                    <div class="txt">
                                        <h3>Pôele en aluminium,<br/><span>Manche fixe</span></h3>
                                        <p>Votre alliée du quotidien</p>
                                    </div>
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3">
                                    <img src="{{ cheminImage }}masonry-produit-poele-07.jpg"/>
                                    <div class="txt">
                                        <h3>Pôele en aluminium,<br/><span>Manche fixe</span></h3>
                                        <p>Votre alliée du quotidien</p>
                                    </div>
                                </div>
                                <div class="grid-item col-12 col-sm-6 col-lg-3">
                                    <img src="{{ cheminImage }}masonry-produit-poele-08.jpg"/>
                                    <div class="txt">
                                        <h3>Pôele en aluminium,<br/><span>Manche fixe</span></h3>
                                        <p>Votre alliée du quotidien</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-img-blue mb-5">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-white mb-5 pt-5">
                            {# DEBUT {{ content.field_prod_poeles_c1_intro[0] }}#}
                            <h2>Comment choisir la poêle idéale ?</h2>
                            {# FIN {{ content.field_prod_poeles_c1_intro[0] }}#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            {# DEBUT {{ content.field_prod_poeles_c1_img[0] }}#}
                            <img src="{{ cheminImage }}choisir-poele-01.jpg"/>
                            {# FIN {{ content.field_prod_poeles_c1_img[0] }}#}
                        </div>
                        <div class="col-12 col-sm-6">
                            {# DEBUT {{ content.field_prod_poeles_c1_img[1] }}#}
                            <img src="{{ cheminImage }}choisir-poele-02.jpg"/>
                            {# FIN {{ content.field_prod_poeles_c1_img[1] }}#}
                        </div>
                    </div>
                </div>

                <div class="container max-1065">
                    <div class="row">
                        <div class="col-12 seo-txt">
                            {# DEBUT {{ content.field_prod_poeles_c2_txt }}#}
                            <p>Si votre poêle est abimée et que vous souhaitez la remplacer, réfléchissez d’abord à son
                                usage futur. Avez-vous besoin d’une poêle pour faire griller des viandes, pour faire
                                poêler des Saint-Jacques ou pour faire sauter des crêpes ? Cuisinez-vous sur des feux
                                gaz, sur une plaque vitrocéramique sur une plaque à induction ? Préférez-vous
                                privilégier la praticité de l’ustensile ou la durabilité de ses matériaux ? Toutes ces
                                questions vous permettent d’affiner votre recherche, pour être certain de choisir une
                                poêle parfaitement adaptée à vos besoins.
                            </p>

                            <h3>Inox, aluminium ou fonte : quel matériau ?</h3>
                            <p>
                                Adaptées à tous les usages, nos poêles sont proposées en différents matériaux, ayant
                                chacun leur points forts et leurs points faibles. À vous de choisir la meilleure
                                combinaison en fonction de vos exigences, de vos habitudes et de vos préférences.
                                Intéressez-vous à la composition de chacun des éléments de votre poêle : quel est le
                                matériau principal ? Quel est le matériau du revêtement (s’il y en un) ? Existe-t-il
                                d’éventuels rajouts (comme un fond rapporté ou un pare-flamme) ? Chaque détail a son
                                importance.
                            </p>

                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="inner-block  p-5 bg-verylightgrey">
                                        <h4>La matière principale</h4>
                                        <p>
                                            Il s’agit de la matière dans laquelle est moulée la partie
                                            creuse de la poêle. Chez Sitram, elle est généralement en aluminium pressé,
                                            en acier inoxydable ou en fonte d’acier. Chacune de ces matières présente
                                            des caractéristiques propres, des avantages et des inconvénients. Elles sont
                                            plus ou moins performantes, durables et faciles d’entretien. Avant de vous
                                            lancer dans l’achat d’une poêle, pensez toujours à vérifier sa compatibilité
                                            avec vos plaques de cuisson.
                                        </p>
                                        <p>
                                            <a href="">Retrouvez le guide conseil complet ici.</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="inner-block p-5">
                                        <h4>Le revêtement intérieur</h4>
                                        <p>
                                            Le revêtement intérieur Certains préfèrent cuisiner avec les fameux sucs de
                                            cuisson, qui se forment lorsque les viandes ou les légumes caramélisent au
                                            contact de la surface chaude de la poêle. Ces amateurs de jus et de sauces
                                            réalisés par déglaçage choisiront plutôt des poêles tout inox, sans
                                            revêtement. Ceux qui préfèrent cuisiner dans des poêles qui n’accrochent pas
                                            opteront plutôt pour des poêles équipées d’un revêtement anti-adhésif. Les
                                            revêtements de nos produits sont tous garantis sans PFOA, et sans risque
                                            pour votre santé.
                                        </p>
                                        <p>
                                            Pour tout savoir sur les revêtements, <a href="">consultez notre
                                                guide complet ici.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {# FIN {{ content.field_prod_poeles_c2_txt }}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-verylightgrey py-5 block-frise-verticale">
            <div class="col">
                <div class="container max-1065">
                    <div class="row py-4">
                        <div class="col">
                            <div class="inner">
                                {# DEBUT {{ content.field_prod_poeles_c3_txts[0] }}#}
                                <h3>Une poêle à manche fixe ou à manche amovible ?</h3>
                                <p class="txt-bordeaux">
                                    Si les poêles sont en général proposées avec des manches fixes, vous pouvez
                                    également
                                    opter pour des modèles à manches amovibles. Ces ustensiles de cuisine présentent en
                                    effet de nombreux avantages :
                                </p>
                                <p class="frise">
                                    <b>Un gain de place non négligeable</b>
                                    Sitram vous propose une poignée unique, qui s’adapte à
                                    tous les diamètres de poêles et de casseroles. Cela vous permet d’emboîter
                                    facilement
                                    tous vos ustensiles de cuisine, et de gagner une place considérable dans vos
                                    placards et
                                    tiroirs (et même au réfrigérateur !).
                                </p>
                                {# FIN {{ content.field_prod_poeles_c3_txts[0] }}#}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 d-flex align-items-end">
                            {# DEBUT {{ content.field_prod_poeles_c3_imgs[0] }}#}
                            <img src="{{ cheminImage }}c2-img-01.png"/>
                            {# FIN {{ content.field_prod_poeles_c3_imgs[0] }}#}
                        </div>
                    </div>
                    <div class="row align-items-center py-4">
                        <div class="col">
                            <div class="inner">
                                {# DEBUT {{ content.field_prod_poeles_c3_txts[1] }}#}
                                <p class="frise">
                                    <b>Un lavage facilité en lave-vaisselle, comme à la main</b>
                                    Sans poignée, la poêle (ou la casserole) devient plus maniable et plus facile à
                                    ranger
                                    dans le panier du lave-vaisselle. Le lavage à la main dans l’évier est également
                                    facilité.
                                </p>
                                {# FIN {{ content.field_prod_poeles_c3_txts[1] }}#}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            {# DEBUT {{ content.field_prod_poeles_c3_imgs[1] }}#}
                            <img src="{{ cheminImage }}c2-img-02.png"/>
                            {# FIN {{ content.field_prod_poeles_c3_imgs[1] }}#}
                        </div>
                    </div>
                    <div class="row align-items-center py-4 align-items-center py-4">
                        <div class="col">
                            <div class="inner">
                                {# DEBUT {{ content.field_prod_poeles_c3_txts[2] }}#}
                                <p class="frise">
                                    <b>La possibilité de mettre votre poêle au four</b>
                                    Pour une totale polyvalence, certains modèles sont compatibles avec un passage au
                                    four.
                                    La poignée amovible facilite la manipulation de l’ustensile de cuisson.
                                </p>
                                {# FIN {{ content.field_prod_poeles_c3_txts[2] }}#}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            {# DEBUT {{ content.field_prod_poeles_c3_imgs[2] }}#}
                            <img src="{{ cheminImage }}c2-img-03.png"/>
                            {# FIN {{ content.field_prod_poeles_c3_imgs[2] }}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5 pt-grey">
            <div class="col">
                <div class="container max-1065">
                    <div class="row">
                        <div class="col">
                            <div class="block-white">
                                {# DEBUT {{ content.field_prod_poeles_c4_intro }}#}
                                <i>
                                    Sitram propose plusieurs gammes à manche amovible, comme Sitramulti ou encore
                                    <a href="">Sitramovible</a>.
                                </i>
                                <p>
                                    Les poêles à manche fixe Sitram sont tout aussi performantes. D’autre part, si vous
                                    avez la chance de disposer d’une cuisine spacieuse, plusieurs de nos poêles aux
                                    finitions haut de gamme méritent d’ailleurs d’être exposées aux regards de vos
                                    convives. Accrochées par leur poignée, nos gammes inox au fini poli brillant, effet
                                    cuivré ou encore ébène mat seront du plus bel effet dans votre cuisine !
                                </p>
                                {# FIN {{ content.field_prod_poeles_c4_intro }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container max-1350">
                    <div class="row text-center">
                        {# Faire une boucle ici #}
                        <div class="col-12 col-sm-6 col-md-3">
                            {# DEBUT {{ content.field_prod_poeles_c4_imgs[0} }} #}
                            <img src="{{ cheminImage }}produits-poele-gammes-01.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            {# DEBUT {{ content.field_prod_poeles_c4_imgs[1} }} #}
                            <img src="{{ cheminImage }}produits-poele-gammes-02.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            {# DEBUT {{ content.field_prod_poeles_c4_imgs[2} }} #}
                            <img src="{{ cheminImage }}produits-poele-gammes-03.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            {# DEBUT {{ content.field_prod_poeles_c4_imgs[3} }} #}
                            <img src="{{ cheminImage }}produits-poele-gammes-04.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>