<div id="recette-individuelle">
  <div class="bg-img-wood">
    <div class="container">
      <div class="row">
        <div class="col ban">
          <img src="{{ content.field_recipe_imgs[0] }}" class="img-fluid mt-3 mt-lg-5 mb-4" alt=""/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>{{ content.field_recipe_title }}</h1>

          <div class="mt-4 pills">
            <!-- Salee sucree -->
            {% for field in content.field_filter_salees_sucrees['#items'] %}
              <span>{{ field.value }}</span>
            {% endfor %}

            <!-- Saison -->
            {% for field in content.field_filter_saison['#items'] %}
              <span>{{ field.value }}</span>
            {% endfor %}

            <!-- Durée -->
            {% for field in content.field_filter_duree['#items'] %}
              <span>{{ field.value }}</span>
            {% endfor %}

            <!-- Type -->
            {% for field in node.field_filtre_type %}
              <span>{{ field.entity.label }}</span>
            {% endfor %}

            <!-- Difficulté -->
            {% for field in content.field_filter_difficulte['#items'] %}
              <span>{{ field.value }}</span>
            {% endfor %}

            <!-- Ustensiles -->
            {% for field in node.field_filtre_ustensile %}
              <span>{{ field.entity.label }}</span>
            {% endfor %}
          </div>

          <div class="mt-4">
            <div class="row justify-content-start">
              <div class="col-12 col-md-auto">
                <div class="d-flex align-items-center mr-md-5 my-2 my-md-0">
                  <div class="picto-prepa mr-3"></div>
                  <div>
                    <b>{{ content.field_recipe_tps_prepa['#title'] }}</b>
                    {{ content.field_recipe_tps_prepa }}
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-auto">
                <div class="d-flex align-items-center mr-md-5 my-2 my-md-0">
                  <div class="picto-cuisson mr-3"></div>
                  <div>
                    <b>{{ content.field_recipe_tps_cuisson['#title'] }}</b>
                    {{ content.field_recipe_tps_cuisson }}
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-auto">
                <div class="d-flex align-items-center my-2 my-md-0">
                  <div class="picto-quantite mr-3"></div>
                  <div>
                    <b>{{ content.field_recipe_quantite['#title'] }}</b>
                    {{ content.field_recipe_quantite }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <div class="row">
              <div class="col-12 col-lg-8 pr-lg-5 order-2 order-lg-1 mt-5 mt-lg-0">
                <div>
                  <h3 class="txt-blue"><span>{{ content.field_recipe_summary['#title'] }}</span></h3>
                  {{ content.field_recipe_summary }}
                </div>
                {% if content.field_recipe_imgs[1]|length %}
                <div class="row mt-5">
                  <div class="col">
                    <img src="{{ content.field_recipe_imgs[1] }}" class="img-recette" alt=""/>
                  </div>
                  <div class="col">
                    <img src="{{ content.field_recipe_imgs[2] }}" class="img-recette" alt=""/>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-12 col-lg-4 order-1 order-lg-2">
                <div>
                  <h3 class="txt-blue"><span>{{ content.field_recipe_ingredients['#title'] }}</span></h3>
                  <p>
                    {{ content.field_recipe_ingredients }}
                  </p>
                </div>
                <div class="mt-5">
                  <h3><span>{{ (node.field_filtre_ustensile.getvalue|length > 1) ? 'Ustensiles'|trans : 'Ustensile'|trans }}</span></h3>
                  <div class="js-ustensiles-slider slider">
                    {{ content.field_filtre_ustensile }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-5" />
</div>
