<div id="rencontres">
    <!-- INTRO -->
    <div class="container-fluid" id="ban-intro">
        <div class="row">
            <div class="col">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ content.field_rencontres_banner }}
                        </div>
                        <div class="col-12 col-lg-6 my-auto pl-lg-5">
                            {{ content.field_rencontres_intro }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5-70lg">
        <!-- CONTENT - row 1-->
        <div class="row">
            <div class="col-12 col-lg-6 pr-lg-5 my-auto order-lg-first">
                <div class="max-550">
                    {{ content.field_rencontres_content_txts[0] }}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4 my-lg-0 order-first">
                <span id="interview-2" class="offset-anchor"></span>
                <div class="h-100 d-flex align-items-center justify-content-center">
                    {{ content.field_rencontres_content_imgs[0] }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-verylightgrey mt-lg-5 py-lg-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <!-- CONTENT - row 2-->
                    <div class="row">
                        <div class="col-12 col-lg-6 my-4 my-lg-0">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                {{ content.field_rencontres_content_imgs[1] }}
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 my-auto">
                            <div class="text-right">
                                <div class="text-left max-550 d-inline-block">
                                    {{ content.field_rencontres_content_txts[1] }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CONTENT - row 3-->
                    <div class="row mt-lg-5 mt-4">
                        <div class="col-12 col-lg-6 pr-lg-5 my-auto order-lg-first">
                            <div class="max-550">
                                {{ content.field_rencontres_content_txts[2] }}
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 my-4 my-lg-0 order-first">
                            <span id="interview-1" class="offset-anchor"></span>
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                {{ content.field_rencontres_content_imgs[2] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-lg-5 mb-4">
        <!-- CONTENT - row 4-->
        <div class="row">
            <div class="col-12 col-lg-6 my-4 my-lg-0">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    {{ content.field_rencontres_content_imgs[3] }}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-auto">
                <div class="text-right">
                    <div class="text-left max-550 d-inline-block">
                        {{ content.field_rencontres_content_txts[3] }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# <div class="container-fluid bg-verylightgrey mt-4 mt-lg-5 py-3 py-lg-5"> #}
    {# <div class="row"> #}
    {# <div class="col"> #}
    {# <div class="container"> #}
    {# <!-- CONTENT - row 5--> #}
    {# <div class="row"> #}
    {# <div class="col-12 col-lg-6 my-auto order-lg-first"> #}
    {# <div class="max-550"> #}
    {# {{ content.field_rencontres_content_txts[4] }} #}
    {# </div> #}
    {# </div> #}
    {# <div class="col-12 col-lg-6 my-4 my-lg-0 order-first"> #}
    {# <div class="h-100 d-flex align-items-center justify-content-center"> #}
    {# {{ content.field_rencontres_content_imgs[4] }} #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}

    {# <div class="container mt-lg-5 mb-5"> #}
    {# <!-- CONTENT - row 6--> #}
    {# <div class="row"> #}
    {# <div class="col-12 col-lg-6 my-4 my-lg-0"> #}
    {# <div class="h-100 d-flex align-items-center justify-content-center"> #}
    {# {{ content.field_rencontres_content_imgs[5] }} #}
    {# </div> #}
    {# </div> #}
    {# <div class="col-12 col-lg-6 my-auto"> #}
    {# <div class="text-right"> #}
    {# <div class="text-left max-550 d-inline-block"> #}
    {# {{ content.field_rencontres_content_txts[5] }} #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
</div>