<div id="produits">
    <div id="ban-intro" class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            {{ content.field_produits_ban }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ content.field_produits_intro }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content-1" class="container-fluid bg-img-wood my-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-7 my-2">
                            <div class="img-shade">
                                {{ content.field_produits_content1_imgs[0] }}
                                <div class="text-mea d-flex-absolute">
                                    {{ content.field_produits_content1_txts[0] }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-5 my-2">
                            <div class="img-shade">
                                {{ content.field_produits_content1_imgs[1] }}
                                <div class="text-mea d-flex-absolute">
                                    {{ content.field_produits_content1_txts[1] }}
                                </div>
                            </div>
                        </div>

                        {% for i in 2..4 %}
                            <div class="col-12 col-sm-6 col-md-4 my-2">
                                <div class="img-shade">
                                    {{ content.field_produits_content1_imgs[i] }}
                                    <div class="text-mea d-flex-absolute">
                                        {{ content.field_produits_content1_txts[i] }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="content-2" class="container-fluid bg-img-blue mt-5 pt-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-white mb-5">
                            {{ content.field_produits_content2_intro }}
                        </div>
                    </div>
                    <div class="row">
                        {% for i in 0..3 %}
                            <div class="col-12 col-sm-6 my-2">
                                <div class="img-shade">
                                    {{ content.field_produits_content2_imgs[i] }}
                                    <div class="text-mea d-flex-absolute">
                                        {{ content.field_produits_content2_txts[i] }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content-3" class="container-fluid seo-txt">
        <div class="row">
            <div class="col">
                {{ content.field_produits_content3_seo }}
            </div>
        </div>
    </div>
</div>