<div id="produit" class="sitrabella">

    <!-- BANNER/INTRO -->
    <div id="ban-intro" class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col ban">
                            {{ content.field_prod_sitrabel_banner }}
                        </div>
                    </div>
                </div>

                <div class="container max-1065">
                    <div class="row">
                        <div class="col text-center">
                            {{ content.field_prod_sitrabel_title }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ content.field_prod_sitrabel_intro[0] }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ content.field_prod_sitrabel_intro[1] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container-fluid bg-img-wood my-5">
        <div class="row">
            <div class="col">
                <div class="container mt-2 mt-lg-5">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-right-4 mb-2 mb-lg-0">
                            {{ content.field_prod_sitrabel_c1_imgs[0] }}
                        </div>
                        <div class="col-12 col-lg-8 p-left-4">
                            {{ content.field_prod_sitrabel_c1_imgs[1] }}
                        </div>
                    </div>
                </div>
                <div class="container max-1065 mt-5">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-6">
                            {{ content.field_prod_sitrabel_c1_txts[0] }}
                        </div>
                        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                            {{ content.field_prod_sitrabel_c1_txts[1] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="container content-2">
        <div class="row mt-5">
            <div class="col text-center">
                {{ content.field_prod_sitrabel_c2_title }}
                <!-- COCOTTES RONDES -->
                {{ content.field_prod_sitrabel_c2_txts[0] }}
            </div>
        </div>
        <div class="row mt-3">
            {% for i in 0..2 %}
                <div class="col-12 col-md-6 col-lg-4">
                    {{ content.field_prod_sitrabel_c2_imgs[i] }}
                </div>
            {% endfor %}
        </div>
        <!-- COLORIS -->
        <div class="row mt-5">
            <div class="col text-center">
                {{ content.field_prod_sitrabel_c2_txts[1] }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4 align-items-center d-flex flex-column justify-content-between">
                {{ content.field_prod_sitrabel_c2_imgs[3] }}
                {{ content.field_prod_sitrabel_c2_imgs[4] }}
            </div>
            <div class="col-12 col-md-6 col-lg-4 align-items-center d-flex flex-column justify-content-between">
                {{ content.field_prod_sitrabel_c2_imgs[5] }}
                {{ content.field_prod_sitrabel_c2_imgs[6] }}
            </div>
            <div class="col-12 col-md-6 col-lg-4 align-items-center d-flex flex-column justify-content-between">
                {{ content.field_prod_sitrabel_c2_imgs[7] }}
                {{ content.field_prod_sitrabel_c2_imgs[8] }}
            </div>
        </div>
        <!-- COCOTTES OVALES -->
        <div class="row mt-5 ">
            <div class="col text-center">
                {{ content.field_prod_sitrabel_c2_txts[2] }}
            </div>
        </div>
        <div class="row">
            {% for i in 9..16 %}
                <div class="col-12 col-md-6 col-lg-3">
                    {{ content.field_prod_sitrabel_c2_imgs[i] }}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- PICTOS -->
    <div class="container max-1400 my-5 ">
        <div class="row pictos border-lightgrey py-4 align-items-center justify-content-around justify-content-lg-center">
            {% for i in 0..6 %}
                <div class="col-4 col-sm-auto mb-3 mb-sm-0 d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    {{ content.field_prod_sitrabel_c2_pict_imgs[i] }}
                    {% if node.field_prod_sitrabel_c2_pict_imgs[i].alt|length %}
                        <small class="txt-blue">{{ node.field_prod_sitrabel_c2_pict_imgs[i].alt }}</small>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
