{%  if offer == 'false' %}
    <p>L'annonce n'existe pas.</p>
{% else %}
    <h1>{{ offer.intitulePoste }}</h1>
    {% for key, value in offer %}
        {% if key in ['descriptionEntreprise','descriptionMission','descriptionProfil'] %}
            <b>{{ key }}</b> : {{ value | raw }}
        {% else %}
            <b>{{ key }}</b> : {{ value }}
        {% endif %}
        <br />
    {% endfor %}

    {% if offer.sirh_id %}
        <a href="{{ sirh_url }}{{ offer.sirh_id }}" target="_blank"><button>Postuler</button></a>
    {% endif %}

    <a href="{{ path('offresEmploi.content') }}">< Retour</a>
{% endif %}