{% set url = url('<current>') %}
{% if 'arrivages/futur_arrivage' in url|render|render %}
    <div class="row products">
        {% for skuProduct, imgProduct in products %}
            {% if nbItem == 6 %}
                {% set classSet = "col-6 col-md-4 img-wrapper" %}
            {% else %}
                {% set classSet = "col-6 col-md-3 img-wrapper" %}
            {% endif %}
            <div class="{{ classSet }}">
                <p>{{ skuProduct }}</p>
                <div class="inner">
                    {% if not imgProduct %}
                        <img src="" alt=""/>
                    {% else %}
                        <img src="/sites/cestdeuxeuros/files/dataimages/{{ imgProduct }}" alt="{{ skuProduct }}"/>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row products">
        {% for skuProduct, imgProduct in products %}
            {% if nbItem == 6 %}
                {% set classSet = "col-6 col-md-4 img-wrapper" %}
            {% else %}
                {% set classSet = "col-6 col-md-3 img-wrapper" %}
            {% endif %}
            <div class="{{ classSet }}">
                <div class="inner">
                    {% if not imgProduct %}
                        <img src="" alt=""/>
                        {% else %}
                        <img src="/sites/cestdeuxeuros/files/dataimages/{{ imgProduct }}" alt="{{ skuProduct }}"/>
                    {% endif %}
                    <span>2<small>€</small></span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
