<div class="row store-info">
    <div class="col-auto d-none d-lg-block">
        <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/store-locator/picto_map_store_detail.png"
             alt="Adresse magasin C'est Deux euros" />
    </div>

    <div class="col-12 col-md-4 col-lg-auto">
        <div class="name">{{ location.name }}</div>
        <div class="store-locator-opening-state {% if location.isStoreOpen %}open{% else %}closed{% endif %}">
            {% if location.isStoreOpen %}
                <span>Ouvert</span>
            {% else %}
                <span>Fermé</span>
            {% endif %}
        </div>
        <div class="address">
            {{ "%s %s %s"|format(location.address.line1, location.address.line2, location.address.line3) }}
            <br />
            {{ "%s %s"|format(location.address.postCode, location.address.city) }}
        </div>

        <div class="tel">
            {%  if location.getMainPhoneNumber is not null %}
                <svg viewBox="0 0 318.74 592.84" width="12" height="21">
                    <path d="M259.39,592.84h-200A59.42,59.42,0,0,1,0,533.5V59.34A59.42,59.42,0,0,1,59.35,0h200a59.41,59.41,0,0,1,59.35,59.34V533.5A59.41,59.41,0,0,1,259.39,592.84ZM59.35,17.23A42.16,42.16,0,0,0,17.23,59.34V533.5a42.17,42.17,0,0,0,42.12,42.11h200a42.17,42.17,0,0,0,42.12-42.11V59.34a42.17,42.17,0,0,0-42.12-42.11Z" style="fill:#ee7d0c"/>
                    <path d="M310.12,95.15H8.61a4.31,4.31,0,0,1,0-8.62H310.12a4.31,4.31,0,0,1,0,8.62Z" style="fill:#ee7d0c"/>
                    <path d="M310.12,506.31H8.61a4.31,4.31,0,0,1,0-8.62H310.12a4.31,4.31,0,0,1,0,8.62Z" style="fill:#ee7d0c"/>
                    <path d="M159.37,564.07a24.87,24.87,0,1,1,24.87-24.87A24.89,24.89,0,0,1,159.37,564.07Zm0-41.12a16.25,16.25,0,1,0,16.25,16.25A16.26,16.26,0,0,0,159.37,523Z" style="fill:#ee7d0c"/>
                    <path d="M191.35,56.33h-64a4.31,4.31,0,0,1,0-8.61h64a4.31,4.31,0,1,1,0,8.61Z" style="fill:#ee7d0c"/>
                </svg>
                <span>{{ location.getMainPhoneNumber.getNumber }}</span>
            {% endif %}
        </div>
        <div class="mail">
            {%  if location.getEmail is not null %}
                <svg viewBox="0 0 87.6 65.33" width="21" height="15">
                    <path d="M86.6,65.33H1a1,1,0,0,1-1-1V1H2V63.33H85.6V1h2V64.33A1,1,0,0,1,86.6,65.33Z" style="fill:#ee7d0c"/>
                    <path d="M43.8,42.17a1,1,0,0,1-.68-.27L.32,1.73A1,1,0,0,1,1,0H86.6a1,1,0,0,1,.69,1.73L44.49,41.9A1,1,0,0,1,43.8,42.17ZM3.53,2,43.8,39.8,84.08,2Z" style="fill:#ee7d0c"/>
                    <rect x="-5.61" y="47.15" width="46.22" height="2" transform="translate(-28.71 26.03) rotate(-44.45)" style="fill:#ee7d0c"/>
                    <rect x="69.11" y="25.04" width="2" height="46.22" transform="translate(-13.36 64.47) rotate(-45.55)" style="fill:#ee7d0c"/>
                </svg>
                <a href="mailto:{{ location.getEmail.email }}">Contacter le magasin</a>
            {% endif %}
        </div>
    </div>

    <div class="col-12 col-md-7 col-lg">
        <div class="opening-hours">
            <span class="title">Horaires d'ouverture</span>
            <ul>
                {% for day, openingHours in location.getFormattedOpeningHours %}
                    <li class="{{ openingHours.isOpen }}"><span>{{ day }}</span> {{ openingHours.range }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col no-padding">
        <div class="cta-wrapper">
            <ul class="ul-cta">
                <li class="map">
                    <a
                        id='js-action-map'
                        href='#'
                        location-id='{{ location.id }}'
                        location-latitude='{{ location.address.geoLocation.latitude }}'
                        location-longitude='{{ location.address.geoLocation.longitude }}'
                        location-path='{{ storeUrl }}'
                    >
                        <span>
                            <svg viewBox="0 0 121.07 129.93">
                                <path d="M24.5,20.56s9,15,5,14-20-5-23-3-5,7-5,9,4,3,7,5S30,56.06,33,73.06c.85,4.8-7-2-7.5-.5-1,3,6,11,3,18s-14,24-11,25,43,6,55,12c0,0,1-19,5-19s17,9,20,7,15-10,15-12-12-35-11-36,11-10,10-12-2-8,5-12,.5-11.5-4.5-11.5-28.5-9.5-33.5-17.5-9-16-14-12-13,22-19,22S32.5,12.56,24.5,20.56Z" style="fill:none;stroke:#00a1d4;stroke-miterlimit:10;stroke-width:3px"/>
                            </svg>
                            <span class="d-none d-lg-block">Afficher <br />la carte</span>
                            <span class="d-lg-none d-xl-none">Carte</span>
                        </span>
                    </a>
                </li>
                <li class="travel">
                    <a href='https://www.google.com/maps/dir/?api=1&destination={{ "%s,%s"|format(location.address.geoLocation.latitude, location.address.geoLocation.longitude) }}' target="_blank">
                        <span>
                            <svg viewBox="0 0 144.12 127.48">
                                <path d="M20.21,1.5A18.73,18.73,0,0,0,1.5,20.21C1.5,33,18.25,51.82,19,52.61a1.68,1.68,0,0,0,2.51,0c.71-.79,17.46-19.59,17.46-32.4A18.74,18.74,0,0,0,20.21,1.5Zm0,28.13a9.42,9.42,0,1,1,9.42-9.42A9.43,9.43,0,0,1,20.21,29.63Z" style="fill:none;stroke:#e4087f;stroke-miterlimit:10;stroke-width:3px"/>
                                <path d="M117.56,52A25.09,25.09,0,0,0,92.5,77c0,17.15,22.43,42.32,23.38,43.38a2.26,2.26,0,0,0,3.36,0c1-1.06,23.38-26.23,23.38-43.38A25.09,25.09,0,0,0,117.56,52Zm0,37.66A12.61,12.61,0,1,1,130.17,77,12.62,12.62,0,0,1,117.56,89.64Z" style="fill:none;stroke:#e4087f;stroke-miterlimit:10;stroke-width:3px"/>
                                <path d="M29.43,52.48s.91-.11,2.48-.26" style="fill:none;stroke:#e4087f;stroke-miterlimit:10;stroke-width:2px"/>
                                <path d="M36.9,51.77c12.81-1.05,37.93-2.28,41.53,3.71,6,10-66,12-65,26,1.07,15,63,0,72,9s-26,15-29,24c-3.78,11.34,20.11,14.64,48.07,9.91" style="fill:none;stroke:#e4087f;stroke-miterlimit:10;stroke-width:2px;stroke-dasharray:5.010647773742676,5.010647773742676"/>
                                <path d="M107,124l2.46-.47" style="fill:none;stroke:#e4087f;stroke-miterlimit:10;stroke-width:2px"/>
                            </svg>
                            <span class="d-none d-lg-block">Calculer <br />l'itinéraire</span>
                            <span class="d-lg-none d-xl-none">Itinéraire</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="js-map-container">
            <div id="map_target" style="display: none" >

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="store-detail-gallery">
            <div id="js-store-details-gallery">
                {% for image in location.getImages %}
                    <div>
                        <img src='{{ "%s/%s"|format(staticAssetsUrl, image.path) }}' />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 d-flex">
        <div class="store-detail-txt">
            <h3>Présentation</h3>
            <p>
                {% if location.presentation %}
                    {{ location.presentation }}
                {% else %}
                    Tous, absolument tous nos articles sont vendus dans nos magasins au prix unique de 2 euros.
                    Pour nous, comme pour vous, 2 euros ce n’est pas cher, mais ce n’est pas une raison pour se montrer
                    moins exigeant, bien au contraire ! Chaque article proposé dans nos magasins a gagné sa place dans
                    nos rayons, en apportant un «plus» pour son prix.
                {% endif %}
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h3 class="store-locator-detail-socials-title">Restez informés !</h3>
    </div>
</div>

<div class="row text-center store-locator-detail-socials">
    {% for socialNetwork in location.getSocialNetworks %}
        {% if socialNetwork.type == 'facebook' %}
            <div class="col {{ socialNetwork.type }}"> {# facebook|instagram #}
                <div>
                    <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/store-locator/svg_fb.svg" />
                </div>
                <p>Suivez-nous sur Facebook</p>
                <a href="https://www.facebook.com/{{socialNetwork.uri}}/" target="_blank">J'aime</a>
            </div>
        {% elseif socialNetwork.type == 'instagram' %}
            <div class="col {{ socialNetwork.type }}"> {# facebook|instagram #}
                <div>
                    <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/store-locator/svg_insta.svg" />
                </div>
                <p>Suivez-nous sur Instagram</p>
                <a href="https://www.instagram.com/{{socialNetwork.uri}}/" target="_blank">Je m'abonne</a>
            </div>
        {% endif %}
    {% endfor %}

    <div class="col newsletter" >
        <div>
            <img src="/sites/cestdeuxeuros/themes/cestdeuxeuros/images/store-locator/svg_newsletter.svg" />
        </div>
        <p>Ne ratez aucun bon plan !</p>
        <a href="#" data-toggle="modal" data-target="#modal-newsletter">Je m'inscris</a>
    </div>
</div>