<div id="newsletter">
    <div class="motif"></div>
    <div class="inner">
        {% if form %}
            <form {{form.attributes }} method="{{ form['#method'] }}">
                {{ form.form_build_id }}
                {{ form.form_token }}
                {{ form.form_id }}
                <div class="row">
                    <div class="col">
                        {{ form.mail }}
                    </div>
                    <div class="col">
                        {{ form.actions.submit }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.captcha }}
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>