{%
  set classes = [
  'OurUniverse'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="Section has-altBg">
      <div class="Section-inner">
        <h2>{{ content.field_title }}</h2>
        {{ content.field_our_universe_top_r_picture }}
        {{ content.field_our_universe_left_picture }}
        {{ content.field_our_universe_bttm_r_p }}
        <div class="OurUniverse-text">
          {{ content.field_description }}
        </div>
        {{ content.field_cta }}
        {% include directory ~ '/templates/ui/atoms/primary-cta.twig' with {
          text: 'Primary Cta',
        } %}
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
