{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    test alternative
    {% block content %}
      {{ content.field_color }}
      {{ content.field_title }}
      {{ content.field_picture }}
      {{ content.field_second_picture }}
      {{ content.field_third_picture }}
      {{ content.field_description }}
      {% for i in content.field_rounded_pictures['#items']|keys %}
        {{ content.field_rounded_pictures[i] }}
      {% endfor %}
      {% for i in content.field_keywords['#items']|keys %}
        {{ content.field_keywords[i] }}
      {% endfor %}
      {% for i in content.field_traces_paint['#items']|keys %}
        {{ content.field_traces_paint[i] }}
      {% endfor %}
    {% endblock %}
  </div>
{% endblock paragraph %}
