{%
  set classes = [
  'BrandHistory-wpr'
]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="Section">
      <div class="Section-inner BrandHistory is-top" data-animate='{"rootMargin": "-20%"}'>
        <div class="BrandHistory-content">
          <h2 class="BrandHistory-title">{{ content.field_title }}</h2>
          <div class="BrandHistory-text">
            {{ content.field_description }}
          </div>
          {% include directory ~ '/templates/ui/atoms/primary-cta.twig' with {
            text: content.field_cta[0]['#title'],
            url: content.field_cta[0]['#url'],
          } %}
        </div>
        <div class="BrandHistory-firstImg">
          <svg viewBox="0 0 100 100" class="Brush" aria-hidden="true">
            <use xlink:href="#sema-brush"></use>
          </svg>
          {{ content.field_picture }}
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="Section has-lightForeground" style="--bgColor: {{ content.field_color[0]['#markup'] }};" >
      <div class="Section-inner BrandHistory is-bottom" data-animate='{"rootMargin": "-20%"}'>
        <svg viewBox="0 0 100 100" class="LeftBrush" aria-hidden="true">
          <use xlink:href="#sema-brush"></use>
        </svg>
        <svg viewBox="0 0 100 100" class="RightBrush" aria-hidden="true">
          <use xlink:href="#sema-brush"></use>
        </svg>
        <div class="BrandHistory-secondImg">
          {{ content.field_second_picture }}
          <svg viewBox="0 0 100 100" class="Brush" aria-hidden="true">
            <use xlink:href="#sema-brush"></use>
          </svg>
        </div>
        <div class="BrandHistory-content">
        <h3>{{ content.field_second_title }}</h3>
          <div class="BrandHistory-text">
            {{ content.field_second_description }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock paragraph %}
