{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <section{{ attribut es.addClass(classes) }} class="BrandHistory">
    {% block content %}
    <div class="Section" style="--bgColor: #272D25;">
      <div class="Section-inner">
        <div class="BrandHistory-content">
          <h2 class="BrandHistory-title">{{ content.field_title }}</h2>
          {{ content.field_description }}
          {{ content.field_cta }}
          {% include directory ~ '/templates/ui/atoms/primary-cta.twig' with {
            text: 'Primary Cta',
            theme: 'alt'
          } %}
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="Section" style="--bgColor: #272D25;">
      <div class="Section-inner">
        .BrandHistory
        <h3>{{ content.field_second_title }}</h3>
        div.BrandHistory{{ content.field_second_description }}
        {{ content.field_second_picture }}
      </div>
    </div>
  </section>
{% endblock paragraph %}
