<div id="menu">
  <div class="container">
    {{ page.navigation }}
  </div>
</div>

<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

{% if page.content %}
  {{ page.content }}
{% endif %}


<div class="row pt-5 m-0 bg_primary" id="section_store_locator">
  <div class="container mx-0">

    <div class="col-12 px-0 text-center">
      <img src="/sites/sitram-sarran/themes/sitramsarran/images/Pictos_Icons/Store_Locator/Icon awesome-map-marker-alt.svg" class="mb-4 image_marker" />
      <h2 class="h1 text_white mb-5">
        TROUVER UN MAGASIN CARREFOUR PRÈS DE CHEZ VOUS
      </h2>

      {{ page.synapse }}

    </div>

  </div>
</div>

{{ page.socials }}

<div class="bg_primary py-5 text-center" id="footer">
  {% if page.footer %}
    {{ page.footer }}
  {% endif %}
</div>
