{#
/**
* @file
* Search location block
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div id="store-locator-wrapper">
    <!-- BANNER -->
    <div class="container-fluid bg-color3 banner">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>

    <!-- STORE LOCATOR -->
    <div class="container store-locator">
        <div class="row" id="js-store-locator">
            <div class="col-lg-6 my-auto">
                <div class="p-custom">
                    <h1>{{ "Découvrez nos produits en boutique"|trans }}</h1>
                    <h3>{{ "Retrouvez tous nos revendeurs proches de chez vous"|trans }}</h3>
                    <h2>{{ "Ville, code postal ou pays"|trans }}</h2>
                    <div class="search-wrapper">
                        <input
                                name="search-string"
                                placeholder="Indiquer un emplacement"
                                class="search-input"
                                id="js-search-input"
                                value="{{ query }}"
                        />
                        <input
                                name="preloaded-search-string"
                                type="hidden"
                                id="js-preloaded"
                        />
                        <button class="btn-submit">
                            <img src="/sites/cotetable/themes/cotetable/images/storelocator/search.svg"
                                 alt="{{ "Recherche store locator"|trans }}"/>
                        </button>
                        <span id="js-search-around">
                            <button id="js-search-button" class="locate-me">Me localiser</button>
                            <input name="search-radius" id="js-search-radius" type="hidden"
                                   value="{{ searchFormDefaultRadius }}">
                            <input name="offset-radius" type="hidden" id="js-offset-radius" value="0">
                            <input name="search-geolocation" id="js-search-geolocation" type="hidden">
                            <input name="store-detail-path" id="js-store-detail-path" type="hidden">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <img class="map" src="/sites/cotetable/themes/cotetable/images/storelocator/map.png"
                     alt="{{ "Découvrez nos produits en boutique"|trans }}"/>
            </div>
        </div>
        <div class="row">
            <div id="js-ajax-response" class="store-locator-response col-lg-5"></div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="storelocator-map" style="display: none"></div>
            </div>
        </div>
    </div>
</div>