{{ page.footer }}
<div class="copyright py-3 bg-color3">
    <a href="{{ '/en/legal-notice'|trans }}">{{ 'Legal notice'|trans }}</a> -
    <a href="{{ '/en/privacy'|trans }}">{{ 'Confidentiality'|trans }}</a>
    <br class="d-lg-none" />
    {{ '© Copyright ' }}{{ "now"|date('Y') }}{{ ' Côté Table . '}}{{ ' All rights reserved '|trans }}
</div>