{{ page.footer }}
<div class="copyright py-3 bg-color3">
    <a href="/service-client/mentions-legales">{{ 'Mentions légales'|trans }}</a> -
    <a href="/service-client/confidentialite">{{ 'Politique de confidentialité'|trans }}</a>
    <br class="d-lg-none" />
    {{ '© Copyright ' }}{{ "now"|date('Y') }}{{ ' Côté Table . '}}{{ ' Tous Droits Réservés '|trans }}
</div>