<div id="block-newsletter" class="NewsletterSubscribeForm">
    {% if form %}
        <form {{form.attributes }} method="{{ form['#method'] }}">
            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}

            {{ form.msg }}

            {{ form.is_pro }}

            <div class="NewsletterSubscribeForm-fields">
                {{ form.email }}
                {{ form.actions.submit }}
            </div>
            <div class="captcha">
                {{ form.captcha }}
            </div>
             <div class="NewsletterSubscribeForm-rpdg">
                {{ form.rgpd_allow }}
            </div>
        </form>
    {% endif %}
</div>
