{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
    <!--header-->
    {% if header %}
        <div class="row">
            <div class="col">
                {{ title_prefix }}
                {{ title }}
                {{ title_suffix }}
                <header>
                    {{ header }}
                </header>
            </div>
        </div>
    {% endif %}

    <!--content-->
    <div class="row mt-5">
        <div class="col">
            <div class="container">
                <div class="row">
                    {% if exposed %}
                        <div class="col-12 col-lg-3">
                            <div class="recettes-filters">
                                <h2 class="recettes-filters-title">{{ 'Filter recipes'|trans }}</h2>
                                {{ exposed }}
                            </div>
                        </div>
                    {% endif %}

                    {{ attachment_before }}

                    <div class="col-12 {% if exposed %}col-lg-9{% endif %}">
                        {% if rows -%}
                            {{ rows }}
                        {% elseif empty -%}
                            {{ empty }}
                        {% endif %}
                        {{ pager }}
                    </div>

                    {{ attachment_after }}
                    {{ more }}
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="container">
        <div class="row">
            <div class="col col-lg-9 offset-lg-3">
                {% if footer %}
                    <footer>
                        {{ footer }}
                    </footer>
                {% endif %}
                {{ feed_icons }}
            </div>
        </div>
    </div>
</div>

