{{ content.field_couleur_hexa_marque|render|striptags|trim }}

<div>
    {{ content.field_logo_marque }}
    {{ content.field_titre_marque }}
    {{ content.field_resume_marque }}
</div>

<div>{{ content.field_menu }}</div>

<div>{{ content.field_description_marque }}</div>

<div>
    {{ content.field_bloc_1 }}
    {{ content.field_bloc_2 }}
    {{ content.field_bloc_3 }}
</div>

<div>
    {{ content.field_bloc_4 }}
    {{ content.field_bloc_5 }}
    {{ content.field_bloc_6 }}
</div>
<div>
    {{ content.field_bloc_7 }}
    {{ content.field_bloc_8 }}
    {{ content.field_bloc_9 }}
</div>