<div class="page-presentation-groupe">
    <div class="row">
        <div>
            {{ content.field_bloc_1_image_1 }}
            {{ content.field_bloc_1_image_2 }}
            {{ content.field_bloc_1_image_3 }}
            {{ content.field_bloc_1_image_4 }}
        </div>
        <div>
            {{ content.field_bloc_2_texte }}
        </div>
        <div>
            {{ content.field_bloc_3_texte }}
        </div>
        <div>
            {{ content.field_bloc_4_image_1 }}
            {{ content.field_bloc_4_image_2 }}
        </div>
    </div>
</div>