<div class="container article-evenement">
    <div class="row">
        <div class="col">
            <div class="title">{{ label }}</div>
            {{ content.field_description_evenement }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if content.field_lien_image[0]['#url'] %}
                <a href="{{ content.field_lien_image[0]['#url'] }}" target="_blank">
                    {{ content.field_image_evenement }}
                </a>
            {% else %}
                {{ content.field_image_evenement }}
            {% endif %}
        </div>
    </div>
</div>