<div class="container-fluid newsletter-wrapper">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="newsletter-inner">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg">
                            <div class="text-mea p-0">
                                <h3>
                                    {{ "Recevez en avant-première<br> les <span>nouvelles recettes</span><br> et les
                                    <span>informations<br> sur nos produits</span>"|trans|raw }}
                                </h3>
                                <p>
                                    {{ "Inscrivez-vous à la newsletter !"|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg mt-4 mt-lg-0 form-newsletter">
                            <button class="js-show-hidden-part">
                                {{ "S'inscrire" | trans }}
                            </button>

                            {% if form %}
                                <form {{ form.attributes }} method="{{ form['#method'] }}" class="form-newsletter">
                                    {{ form.form_build_id }}
                                    {{ form.form_token }}
                                    {{ form.form_id }}

                                    <div class="result-message"></div>

                                    <div class="js-hidden-part">
                                        <div class="form-email">
                                            {{ form.mail }}
                                        </div>
                                        <div class="row name-wrapper">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-lastname">
                                                    {{ form.nom }}
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-firstname">
                                                    {{ form.prenom }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="captcha">
                                            {{ form.captcha }}
                                        </div>
                                        <div class="form-submit">
                                            {{ form.submit }}
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>