<div class="header-wrapper">
  <!-- Header -->
  {% include directory ~ '/templates/partials/header.html.twig' %}
</div>

<div class="content">
  {% if page.highlighted %}
    <div class="message-site">
      {{ page.highlighted }}
    </div>
  {% endif %}
  {% if page.content %}
    {{ page.content }}
  {% endif %}
</div>

<!-- Footer -->
{% if page.footer %}
  <div class="footer-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="newsletter-wrapper">
              <div class="row align-items-center">
                <div class="col">
                  <div class="text-mea p-0">
                    <h3>Recevez en avant-première<br> les <span>nouvelles recettes</span><br> et les <span>informations<br> sur nos produits</span></h3>
                    <p>Inscrivez-vous à la newsletter !</p>
                  </div>
                </div>
                <div class="col">
                  <form action="" method="post" class="form-newsletter">
                    <div class="js-hidden-part">
                      <div class="form-email">
                        <label for="email">Votre adresse email *</label>
                        <input type="email" name="email" id="email" placeholder="Saisir votre adresse e-mail" required>
                      </div>
                      <div class="row name-wrapper">
                        <div class="col">
                          <div class="form-firstname">
                            <label for="firstname">Votre Nom *</label>
                            <input type="text" name="firstname" id="firstname" placeholder="Saisir votre nom" required>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-lastname">
                            <label for="lastname">Votre Prénom *</label>
                            <input type="text" name="lastname" id="lastname" placeholder="Saisir votre prénom" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-submit">
                      <input class="js-show-hidden-part" type="submit" value="S'inscrire">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row logos-wrapper">
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-around logos-list">
                <div class="logo1"></div>
                <div class="logo2"></div>
                <div class="logo3"></div>
                <div class="logo4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="row links">
              <div class="col col-12 col-md-auto col-lg-3">
                <h4>Entreprise</h4>
                <ul>
                  <li>
                    <a href="#" title="Espace pro B2B">Espace pro B2B</a>
                  </li>
                  <li>
                    <a href="#" title="Contact presse">Contact presse</a>
                  </li>
                </ul>
                <p>
                  SITRAM - Centre économique de Mirande<br>Avenue de Larbonne – BP 7<br>32300 Mirande cedex – France
                </p>
                <p>Marketing et distribution : <a href="#" title="Gers Equipement">Gers Equipement</a></p>
              </div>
              <div class="col col-12 col-md-auto col-lg-3 pl-5">
                <h4>Catégories</h4>
                <ul>
                  <li>
                    <a href="/produits" title="Collections">Collections</a>
                  </li>
                  <li>
                    <a href="/conseils" title="Conseils">Conseils</a>
                  </li>
                  <li>
                    <a href="/recettes" title="Recettes">Recettes</a>
                  </li>
                  <li>
                    <a href="#" title="Notre marque">Notre marque</a>
                  </li>
                  <li>
                    <a href="#" title="Nos engagements">Nos engagements</a>
                  </li>
                </ul>
              </div>
              <div class="col col-12 col-md-auto col-lg-3 pl-5">
                <h4>Service client</h4>
                <ul>
                  <li>
                    <a href="#" title="FAQ">FAQ</a>
                  </li>
                  <li>
                    <a href="#" title="Contact">Contact</a>
                  </li>
                  <li>
                    <a href="#" title="Garantie">Garantie</a>
                  </li>
                  <li>
                    <a href="#" title="Trouver un revendeur">Trouver un revendeur</a>
                  </li>
                  <li>
                    <a href="#" title="Réparateurs agréés">Réparateurs agréés</a>
                  </li>
                </ul>
              </div>
              <div class="col col-12 col-md-auto col-lg-3 d-flex flex-column align-items-center justify-content-center">
                <div class="social1"></div>
                <div class="social2"></div>
                <div class="social3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center bg-blue">
    {{ '© ' }}{{ "now"|date('Y') }}{{ ' Tous droits réservés - Mentions légales - Politique de confidentialité'|trans }}
  </div>
{% endif %}