{% if pdfFiles %}
    <table>
        <thead>
        <tr>
            <th>Nom du fichier</th>
            <th>Téléchargement</th>
        </tr>
        </thead>
        <tbody>
        {% for k, file in pdfFiles %}
            <tr>
                <td>{{ file.name }}</td>
                <td>
                    <form action="{{ path('recherche_pdf.dlFileOnly') }}" method="post" id="dl-file{{ k }}" style="display: none;">
                        <input type="hidden" id="url" name="url" value="{{ file.url }}">
                        <input type="hidden" id="name" name="name" value="{{ file.name }}">
                        <button type="submit"></button>
                    </form>
                    <a href="{{ file.url }}"target="_blank">Afficher le PDF</a> |
                    <span onclick="document.getElementById('dl-file{{ k }}').submit();">Télécharger</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}