<h2>PDF trouvés : </h2>
<table>
    <thead>
        <tr>
            <th>Nom du fichier</th>
            <th>Téléchargement</th>
        </tr>
    </thead>
    <tbody>
    {% if rslt is not empty %}
        {% set myVal = 0 %}
        {% for doc in rslt %}
            {% set myVal = myVal + 1 %}
            <tr>
                <td>{{ doc.name }}</td>
                <td>
                    <form action="{{ path('resultSearch.download') }}" method="post" id="dl-file{{ myVal }}">
                        <input type="hidden" id="urlDl" name="urlDl" value="{{ doc.urlDl }}">
                        <input type="hidden" id="name" name="name" value="{{ doc.name }}">
                        <button type="submit"></button>
                    </form>
                    <span onclick="window.open('{{ doc.urlDl }}')">Afficher le PDF</span> |
                    <span onclick="document.getElementById('dl-file{{ myVal }}').submit();">Télécharger</span>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">Pas de produits</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<button onclick="window.history.back();">Effectuer une autre recherche</button>