<div class="row justify-content-center">

    <div class="col">
        {% if form %}
            <form {{form.attributes }} method="{{ form['#method'] }}">
                {{ form.form_build_id }}
                {{ form.form_token }}
                {{ form.form_id }}

                <div class="row">
                    <div class="col-12">
                        {{ form.msg }}
                    </div>
                </div>

                <div class="marques">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.sema_design }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.comptoir_de_famille }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.cote_table }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.genevieve_lethu }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.jardin_d_ulysse }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.natives }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-check">
                                {{ form.marques.toutes_les_marques }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.captcha }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.actions.submit }}
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

</div>