<div class="header-wrapper navbar-expand-lg">
    <!-- Header -->
    {% include directory ~ '/partials/header.html.twig' %}
    <!-- Navigation -->
    {% if page.navigation %}
        {% include directory ~ '/partials/navigation.html.twig' %}
    {% endif %}
</div>

<div class="container-fluid">
    {% if page.highlighted %}
        <div class="row message-site">
            <div class="col">
                {{ page.highlighted }}
            </div>
        </div>
    {% endif %}
    {% if page.content %}
        <div class="row justify-content-center">
            <div class="col">
                <div class="newsletter-wrapper">
                    {{ page.content.pourpagenewsletter }}
                    {{ page.content.yliades_content }}
                </div>
            </div>
        </div>
    {% endif %}
</div>

<footer>
    <!-- Footer -->
    {% if page.footer %}
        {{ page.footer }}
    {% endif %}
    <!-- Post footer -->
    {{ page.txtfooter }}
</footer>