{% block paragraph %}
    {% block content %}
        <a href="{{ content.field_lien_pdf_presse|render|striptags|trim }}">
            {{ content.field_image_presse }}
            {{ content.field_titre_presse }}
            {{ content.field_date_presse }}
            {#{{ content.field_marque_presse }}#}
        </a>
    {% endblock %}
{% endblock paragraph %}