{% block paragraph %}
  <div class="col">
      {% block content %}
          <div class="marque" style="background: url({{ content.field_background_image_marque|render|striptags|trim }})
                                  no-repeat center bottom {{ content.field_couleur_marque|render|striptags|trim }}">
            <div class="inner">
                {{ content.field_logo_marque }}
                {{  content.field_txt_marque }}
              <a href="/node/{{ content.field_lien_marque|render|striptags|trim }}" title="">
                Je découvre
              </a>
            </div>
          </div>
      {% endblock %}
  </div>
{% endblock paragraph %}