<!-- SLIDER -->
<div class="container-fluid top">
    <div class="row align-items-center">
        <div class="col-12 col-lg-4 top-txt">
            {{ content.field_hp_txt }}
        </div>
        <div class="col-12 col-lg-8">
            <!-- DESKTOP -->
            <div class="row d-none d-lg-flex">
                <div class="col-12 col-sm-6 slider left">
                    <div class="js-slick-slider-hp-left">
                        {{ content.field_hp_imgs }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 slider right">
                    <div class="js-slick-slider-hp-right">
                        {{ content.field_hp_imgs_2 }}
                    </div>
                </div>
            </div>
            <!-- TAB MOBILE -->
            <div class="row d-lg-none d-xl-none">
                <div class="col-12 js-slick-slider-hp-mobile">
                    {{ content.field_hp_imgs }}
                    {{ content.field_hp_imgs_2 }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT 1 -->
<div class="bg-grey js-slick-hp-cta homepage-content-1">
    <div class="item">
        <div class="inner-wrapper">
            <div class="inner">
                <a href="{{ content.field_hp_content1_links[0] }}">
                    <span class="js-slideshow-concepts slideshow-multisvg metiers">
                        {% for i in 0..node.field_hp_content1_svg_block_1|length - 1 %}
                            <span>{{ content.field_hp_content1_svg_block_1[i] }}</span>
                        {% endfor %}
                    </span>
                    <p>{{ node.field_hp_content1_svg_block_1[0].description }}</p>
                    <span class="cta">
                        {{ node.field_hp_content1_links[0].title }}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="inner-wrapper">
            <div class="inner">
                <a href="{{ content.field_hp_content1_links[1] }}">
                    {{ content.field_hp_content1_svg[0] }}
                    <p>{{ node.field_hp_content1_svg[0].description }}</p>
                    <span class="cta">
                        {{ node.field_hp_content1_links[1].title }}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="inner-wrapper">
            <div class="inner">
                <a href="{{ content.field_hp_content1_links[2] }}">
                    <span class="js-slideshow-brand slideshow-multisvg">
                        {% for i in 0..node.field_hp_content1_svg_brands|length - 1 %}
                        <span>{{ content.field_hp_content1_svg_brands[i] }}</span>
                        {% endfor %}
                    </span>
                    <p>{{ node.field_hp_content1_svg_brands[0].description }}</p>
                    <span class="cta">
                        {{ node.field_hp_content1_links[2].title }}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="inner-wrapper">
            <div class="inner">
                <a href="{{ content.field_hp_content1_links[3] }}">
                    {{ content.field_hp_content1_svg[1] }}
                    <p>{{ node.field_hp_content1_svg[1].description }}</p>
                    <span class="cta">
                        {{ node.field_hp_content1_links[3].title }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT 2 -->
<div class="container homepage-content-2" nvs-animation-delay="500" nvs-animation-type="in-left">
    <div class="row">
        <div class="col-12 col-lg-6 actu">
            <div class="inner">
                <h2>{{ node.field_hp_content2_actu.fieldDefinition.label }}</h2>
                <div class="js-slider-actu">
                    {% for i in 0..3 %}
                        <div class="actu-item">
                            {{ content.field_hp_content2_actu[i] }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 follow">
            <div class="inner">
                <h2>{{ node.field_hp_content2_social.fieldDefinition.label }}</h2>
                <h3>{{ node.field_hp_content2_social.alt }}</h3>
                <a href="{{ content.field_hp_content2_social_link.0['#url'] }}" target="_blank">
                    {{ content.field_hp_content2_social }}
                </a>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT 3 -->
<div class="container homepage-content-3 text-center" nvs-animation-delay="500" nvs-animation-type="in-right">
    <h3>{{ node.field_hp_content3_video.description }}</h3>
    <video poster="{{ content.field_hp_content3_video[1]|render|striptags|trim|raw }}" controls>
        <source src="{{ content.field_hp_content3_video[0]|render|striptags|trim|raw }}" type="video/mp4" />
    </video>
</div>