<div class="brands">
    <!-- SLIDER -->
    <div class="container-fluid top">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4 top-txt">
                {{ content.field_brands_banner_txt }}
            </div>
            <div class="col-12 col-lg-8 no-padding">
                <div class="svgs-banner">
                    <div class="row justify-content-center no-margin">
                        {% for field in content.field_brands_banner_svgs['#items'] %}
                            <div class="col-6 col-sm-4 no-padding">
                                {#<a href="#"> Attente décision #}
                                    <img src="{{ file_url(field.entity.fileuri) }}"/>
                                {#</a>#}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-right">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part1"></div>
                    <div class="logo">
                        {{ content.field_brands_p1_logo }}
                    </div>
                    {{ content.field_brands_p1_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p1_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-left">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part2"></div>
                    <div class="logo">
                        {{ content.field_brands_p2_logo }}
                    </div>
                    {{ content.field_brands_p2_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p2_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 3 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-right">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part3"></div>
                    <div class="logo">
                        {{ content.field_brands_p3_logo }}
                    </div>
                    {{ content.field_brands_p3_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p3_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 4 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-left">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part4"></div>
                    <div class="logo">
                        {{ content.field_brands_p4_logo }}
                    </div>
                    {{ content.field_brands_p4_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p4_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 5 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-right">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part5"></div>
                    <div class="logo">
                        {{ content.field_brands_p5_logo }}
                    </div>
                    {{ content.field_brands_p5_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p5_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 6 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-left">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part6"></div>
                    <div class="logo">
                        <div>
                            <div>
                                <img src="{{ content.field_brands_p6_logo[0] }}" />
                            </div>
                            <div>
                                <img src="{{ content.field_brands_p6_logo[1] }}" />
                            </div>
                        </div>
                    </div>
                    {{ content.field_brands_p6_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p6_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 7 -->
    <div class="brand-content" nvs-animation-delay="500" nvs-animation-type="in-right">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part7"></div>
                    <div class="logo">
                        {{ content.field_brands_p7_logo }}
                    </div>
                    {{ content.field_brands_p7_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p7_imgs }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 8 -->
    <div class="brand-content forced-white" nvs-animation-delay="500" nvs-animation-type="in-left">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center intro-txt">
                    <div class="hidden-anchor" id="part8"></div>
                    {{ content.field_brands_p8_txt }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-img-wrapper js-slick">
                        {{ content.field_brands_p8_imgs }}
                    </div>
                    <div class="text-center more-txt">
                        {{ content.field_brands_p8_txt2 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 9 -->
    <div class="brand-content forced-grey" nvs-animation-delay="500" nvs-animation-type="in-right">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 text-center intro-txt">
                    <div class="hidden-anchor" id="part9"></div>
                    <div class="logo">
                        <img src="{{ file_url(content.field_brands_p9_logo['#items'].entity.uri.value) }}" />
                    </div>
                    {{ content.field_brands_p9_txt }}
                </div>
            </div>
        </div>
    </div>
</div>