{% set imagePath = '/sites/merchcie/themes/merchcie/images/TEMP/notreequipe/' %}
<!-- LIB -->
{{ attach_library('merchcie/imageloaded') }}

<div id="notre-equipe">
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <h1 class="text-white">
                        <span class="text-color2">Merch & cie</span> : une équipe efficace, soudée et experte à votre
                        service
                    </h1>
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c1 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="text-hand text-color2">Une équipe d'experts</h4>
                    <div class="bg-color4 block-txt">
                        <p>
                            Unis par un même amour du travail bien fait et le même <b>objectif de satisfaction
                                client</b>, tous
                            nos salariés sont formés régulièrement. Nous sommes fiers d’avoir créé un <b>parcours
                                certifiant</b> sur mesure pour le métier de <b>merchandiseur</b>. Parce que votre projet
                            est important
                            et qu’il nécessite des équipes qualifiées, nos collaborateurs intègrent ce parcours dès leur
                            entrée dans l’entreprise.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-color2 before-line line-color2">
                        Notre équipe Projet
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="js-interviews-1">
        {{ content.field_equipes_itws }}
    </div>

    <div class="js-hidden-listing-text-1" style="display: none;">
        <div class="col-12 col-md-4 col-lg-6 moved-block">
            <div class="inner text-white text-center bg-color1">
                <small class="text-color2">
                    {{ "Ils préparent"|trans }}
                </small>
                <div class="text-hand main">
                    {{ "Une stratégie <br />sans faille"|trans }}
                </div>
            </div>
        </div>
    </div>

    <div class="c3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-color2 before-line line-color2">
                        Nos experts sur le terrain
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="js-interviews-2">
        {{ content.field_equipes_itws }}
    </div>

    <div class="js-hidden-listing-text-2" style="display: none;">
        <div class="col-12 col-md-4 col-lg-3 moved-block">
            <div class="inner text-white text-center bg-color1">
                <small class="text-color2">
                    {{ "Ils sont"|trans }}
                </small>
                <div class="text-hand main">
                    {{ "Les rois de <br />l'efficacité"|trans }}
                </div>
            </div>
        </div>
    </div>

    <div class="c4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center">
                    <div class="img-wrapper">
                        <div class="dot dot-pattern-color2"></div>
                        <img class="img-fluid" src="{{ imagePath }}PHOTO-EQUIPE-DTR.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="txt">
                        <h2 class="text-color2">
                            Rejoignez l'équipe <br>de Merch & Cie
                        </h2>
                        <a href="#" class="cta bg-color2 text-white">Voir nos offres</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dot dot-pattern-color3"></div>
    </div>
</div>
