<!-- TMP -->
{% set imagePath = '/sites/merchcie/themes/merchcie/images/TEMP/implant/' %}

<div id="implantation">
    <!--INTRO-->
    <div class="bg-color1 z1">
        <div class="container">
            <div class="row">
                <div class="col main-big-title">
                    <h1 class="text-white">
                        <span class="text-color2">L'implantation</span> <br>
                        optimiser sa rentabilité
                    </h1>
                    <span class="line-vertical dot-pattern-color2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="c2 bg-color4">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2>
                        <span class="text-hand">
                            {{ "Le mot clé"|trans }}
                        </span>
                            Efficacité
                        </h2>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="text-color3 mb-5">
                            <h4>
                                Le saviez vous ?
                            </h4>
                            <p>
                                <b>« Trouver ce que je cherche »</b>, telle est la priorité numéro 1 des clients.
                                <small>
                                    (Source : Baromètre 2019 de la Valeur Shopper®, Altavia Shoppermind et OpinionWay)
                                </small>
                            </p>
                        </div>
                        <div>
                            <p>
                                <b>Aménager efficacement les linéaires crée de la valeur et donc plus de rentabilité en
                                    point
                                    de vente.</b>
                                <br>
                                L’implantation n’est donc pas une simple opération de manutention
                            </p>
                            <p>
                                <b>Les règles d’or</b> de votre rayon
                            </p>
                            <ul>
                                <li>
                                    Remplir : intégrer tout le stock disponible et ajuster le positionnement des
                                    produits
                                    pour ne pas perdre en surface linéaire.
                                </li>
                                <li>
                                    Ranger : chaque référence à sa place.
                                </li>
                                <li>
                                    Faire le facing : les produits doivent être alignés sur l’avant du matériel.
                                </li>
                                <li>
                                    Vérifier l’affichage du prix : par exemple, les prix qui changent le temps d’un
                                    catalogue.
                                </li>
                            </ul>
                            <p>
                                Avec ou sans planogramme, nous nous adaptons à vos règles merchandising et les mettrons
                                en
                                œuvre selon votre cahier des charges. <br>
                                Nos équipes travaillent en totale autonomie dès lors que vous avez validé les
                                principales
                                étapes et l’organisation générale. <br>
                                Grâce à notre expertise, nous savons être réactifs face à l’imprévu : laissez-nous vous
                                faire des propositions !
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 text-right">
                        <div class="img-wrapper">
                            <img src="{{ imagePath }}Réassort.jpg" alt="">
                            <div class="dot dot-pattern-color2"></div>
                        </div>
                    </div>
                </div>
                <div class="row colorful-blocks">
                    <div class="col-12 col-lg-6 bg-color2">
                        <div class="inner left">
                            <span class="picto"></span>
                            <div>
                                <h4>
                                    Notre challenge au quotidien :
                                </h4>
                                <p>
                                    <b>Optimiser la performance commerciale</b> de vos linéaires et
                                    assortiments produits
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 bg-color1">
                        <div class="inner right">
                            <span class="picto"></span>
                            <div>
                                <h4>
                                    Le chiffre clé merch & cie :
                                </h4>
                                <p>
                                    <b>7700 mètres Linéaires</b> implantés en moyenne par an soit environ
                                    19.000 heures travaillées !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# A rendre optionnel #}
    <div class="c3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h4 class="text-color2 mb-5">L'implantation en vidéo</h4>
                    <div class="video-wrapper embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                width="652" height="367" src="https://www.youtube.com/embed/EmEyb-b3xIY"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# A reprendre de la page N1 Expertises + suppr l'attr style #}
    <div class="c4 text-center z1 bg-color1 text-white know-what" style="min-height: 360px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>
                        {{ content.field_implantation_c4_title }}
                    </h3>
                    <a href="{{ content.field_implantation_c4_link[0]['#url'] }}"
                       class="cta bg-color2 text-white">{{ content.field_implantation_c4_link[0]['#title'] }}</a>
                </div>
            </div>
        </div>
        <div class="dot-left dot-pattern-color2"></div>
    </div>
</div>
