{% if page.footer %}
    {{ page.footer }}
    <div class="copyright">
        {{ '© Cedif ' }}{{ "now"|date('Y') }}{{ ' - ' }}{{ 'Tous droits réservés '|trans }} - <a href="/politique-confidentialite-et-cookies">{{ "Politique de confidentialité et cookies" }}</a>
    </div>
{% endif %}