{% if page.footer %}
    {{ page.footer }}
    <div class="copyright text-center bg-blue">
        {{ '© ' }}{{ "now"|date('Y') }}{{ ' All rights reserved '|trans }}
        <br class="d-lg-none" />
        <a href="{{ '/en/customer-service/legal-notice'|trans }}">{{ 'Legal notice '|trans }}</a> -
        <a href="{{ '/en/customer-service/privacy'|trans }}">{{ 'Confidentiality '|trans }}</a>
    </div>
{% endif %}