{#
/**
* @file
* Location partial block
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% set storeUrl = "/%s/%s/%s"|format(routingItemKey, location.externalId, location.name|url_encode) %}
<a class="StoreLocator-link"
   id='js-action-map'
   href='#'
   location-id='{{ location.id }}'
   location-latitude='{{ location.address.geoLocation.latitude }}'
   location-longitude='{{ location.address.geoLocation.longitude }}'
   location-path='{{ storeUrl }}'
   location-map-target='storelocator-map'>
  <span class="StoreLocator-link-name">{{ location.getName }}</span><br>
  <span class="StoreLocator-link-address">{{ "%s %s %s %s %s"|format(location.address.line1, location.address.line2, location.address.line3,
      location.address.postCode, location.address.city) }}</span>
</a>
