<div id="menu">
    {{ page.navigation }}
</div>

<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="container-fluid">
    {% if page.highlighted %}
        <div class="row message-site">
            <div class="col">
                {{ page.highlighted }}
            </div>
        </div>
    {% endif %}

    {% if page.content %}
        <div id="homepage">
            <!-- TOP BANNER -->
            <div class="row hp-topbanner">
                <div class="col no-padding">
                    <img class="d-sm-none" src="/sites/ope-sitram/themes/opesitram/images/hp/homepage_bg_banner_mobile.jpg"
                         alt=""/>
                    <img class="d-none d-sm-block" src="/sites/ope-sitram/themes/opesitram/images/hp/homepage_bg_banner.jpg"
                         alt=""/>
                </div>
            </div>

            <!-- HOW TO -->
            <div class="row hp-howto text-center">
                <div class="col">
                    <div class="container px1465">
                        <div class="row">
                            <div class="col">
                                <div class="inner">
                            <span class="fake-h2">
                                Découvrez la collection imaginée par <b>Yves Camdeborde</b><br/>
                                et développée par <b>Sitram</b>
                            </span>
                                    <h2>en <b>exclusivité</b> pour les magasins <b>E. Leclerc.</b></h2>
                                    <p class="intro">
                                        Grand nom de la cuisine et inventeur de la Bistronomie, le Chef Yves Camdeborde s’est
                                        associé aux experts de la marque Sitram <br/>
                                        pour vous proposer une série limitée d’ustensiles à son image : performants, accessibles
                                        et généreux, tout simplement. <br/>
                                        Retrouvez-les dans vos magasins Leclerc et profitez des points fidélité pour constituer
                                        votre collection...
                                    </p>

                                    <h2><b>Comment profiter de l'offre ?</b></h2>
                                    <ol>
                                        <li>
                                    <span class="text-wrapper">
                                        <span>COLLECTEZ LES VIGNETTES DISTRIBUÉES DANS LES MAGASINS E.LECLERC PARTICIPANTS <small><sup>(1)</sup></small> </span><br/>
                                        <span>DU 27 AVRIL AU 17 JUILLET 2021 :</span> 10 € d’achats chez E.Leclerc = 1 vignette <small><sup>(2)</sup></small>
                                    </span>
                                        </li>
                                        <li>
                                    <span class="text-wrapper">
                                        <span>VOUS AVEZ COLLECTÉ 5 VIGNETTES ?</span><br/>
                                        Collez-les sur le collecteur pour obtenir 60% de remise immédiate sur l'article de la collection Yves Camdeborde souhaité.
                                    </span>
                                        </li>
                                        <li>
                                    <span class="text-wrapper">
                                        <span>RDV DANS VOTRE MAGASIN JUSQU’AU 17 JUILLET 2021.</span><br/>
                                        Choisissez votre article sur le présentoir prévu à cet effet et présentez-vous en caisse muni de votre collecteur dûment complété.<br/>
                                        Lors de votre passage en caisse, vous obtiendrez directement votre produit à prix réduit après vérification de votre collecteur <small><sup>(3)</sup></small>.
                                    </span>
                                        </li>
                                    </ol>

                                    <div class="etiquettes-wrapper">
                                        <img src="/sites/ope-sitram/themes/opesitram/images/hp/etiquette.png" alt=""/>
                                        <img src="/sites/ope-sitram/themes/opesitram/images/hp/etiquette.png" alt=""/>
                                        <img src="/sites/ope-sitram/themes/opesitram/images/hp/etiquette.png" alt=""/>
                                        <img src="/sites/ope-sitram/themes/opesitram/images/hp/etiquette.png" alt=""/>
                                        <img src="/sites/ope-sitram/themes/opesitram/images/hp/etiquette_pliee.png" alt=""/>
                                    </div>

                                    <p class="conditions">
                                        (1) Modalités et liste des magasins participants sur www.e-leclerc.com et sur
                                        yvescamdeborde.sitram.fr<br/>
                                        (2) Hors carburants, drives, livres et billetteries. Tickets non cumulables. Dans la
                                        limite des stocks disponibles.<br/>
                                        (3) Tout collecteur altéré, modifié, endommagé ou remis après le 17 juillet 2021 se
                                        verra
                                        refusé.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GAMME -->
            <div class="row gamme">
                <div class="col">
                    <div class="container px1465">
                        <div class="row">
                            <div class="col">
                                <h3>La gamme<br> <span>Yves Camdeborde</span><br> by Sitram</h3>
                                <div class="js-gammes-slick">
                                    <div>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-lg">
                                                <div class="item-info prices text-right">
                                            <span class="title">
                                                POÊLE ANTI-ADHÉSIVE INOX
                                            </span>
                                                    <span class="subtitle">
                                                Ø 24 cm
                                            </span>
                                                    <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                27,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>69,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="item-info img">
                                                    <img src="/sites/ope-sitram/themes/opesitram/images/hp/poele-anti-adhesive-inox.png"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg">
                                                <div class="item-info conseil">
                                            <span class="title">
                                                Le conseil d'YVES CAMDEBORDE
                                            </span>
                                                    <p>
                                                        Idéal pour les oeufs, pommes de terre sautées et les poissons, ou pour
                                                        l’un de mes plats préférés : l’omelette.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <div class="item-info prices mobile">
                                            <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                27,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>69,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <a href="/collections" class="btn-slide-cta">
                                                    Découvrez toute la collection
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-lg">
                                                <div class="item-info prices text-right">
                                            <span class="title">
                                                WOK INOX
                                            </span>
                                                    <span class="subtitle">
                                                Ø 28 cm
                                            </span>
                                                    <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                39,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>99,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="item-info img">
                                                    <img src="/sites/ope-sitram/themes/opesitram/images/hp/wok-inox.png"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg">
                                                <div class="item-info conseil">
                                            <span class="title">
                                                Le conseil d'YVES CAMDEBORDE
                                            </span>
                                                    <p>
                                                        Cet ustensile d’origine asiatique permet de réaliser toutes sortes de
                                                        plats avec très peu de matières grasses. Il est idéal pour faire une
                                                        belle fricassée de légumes très rapidement. Avec un panier en bambou
                                                        vous pourrez même l’utiliser pour cuisiner à la vapeur.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <div class="item-info prices mobile">
                                            <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                39,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>99,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <a href="/collections" class="btn-slide-cta">
                                                    Découvrez toute la collection
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-lg">
                                                <div class="item-info prices text-right">
                                            <span class="title">
                                                Couteau chef
                                            </span>
                                                    <span class="subtitle">
                                                Lame 20,5 cm
                                            </span>
                                                    <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                7,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>19,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="item-info img">
                                                    <img src="/sites/ope-sitram/themes/opesitram/images/hp/couteau-chef.png"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg">
                                                <div class="item-info conseil">
                                                    <p>
                                                        C’est le couteau à tout faire de la cuisine. Sa longue lame permet de
                                                        trancher finement la viande ou la volaille en un seul geste, de couper
                                                        ou hacher tous types d’aliments.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <div class="item-info prices mobile">
                                            <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                7,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>19,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <a href="/collections" class="btn-slide-cta">
                                                    Découvrez toute la collection
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-lg">
                                                <div class="item-info prices text-right">
                                            <span class="title">
                                                Couteau Santoku
                                            </span>
                                                    <span class="subtitle">
                                                Lame 17,5 cm
                                            </span>
                                                    <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                7,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>19,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="item-info img">
                                                    <img src="/sites/ope-sitram/themes/opesitram/images/hp/couteau-santoku.png"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg">
                                                <div class="item-info conseil">
                                                    <p>
                                                        Couteau japonais à longue lame alvéolée. Il permet de trancher
                                                        facilement les viandes et poissons et d’émincer fruits et légumes sans
                                                        qu'ils n'adhèrent à la lame.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <div class="item-info prices mobile">
                                            <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                7,96€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>19,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <a href="/collections" class="btn-slide-cta">
                                                    Découvrez toute la collection
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-lg">
                                                <div class="item-info prices text-right">
                                            <span class="title">
                                                SUPPORT COUTEAUX Magnétique
                                            </span>
                                                    <span class="subtitle">
                                                Acacia - 23 x 28 x 9 CM<br/>
                                                100% FSC
                                            </span>
                                                    <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                20,76€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>51,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="item-info img">
                                                    <img src="/sites/ope-sitram/themes/opesitram/images/hp/support-couteaux.png"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg">
                                                <div class="item-info conseil">
                                            <span class="title">
                                                Le conseil d'YVES CAMDEBORDE
                                            </span>
                                                    <p>
                                                        Pour cuisiner en toute sérénité, il faut être bien organisé. Avec ce
                                                        range-couteaux c’est chose faite, et en plus ils apport un élément
                                                        décoratif à votre cuisine !
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <div class="item-info prices mobile">
                                            <span class="price-with">
                                                Prix avec 5 vignettes
                                            </span>
                                                    <span class="price">
                                                20,76€
                                            </span>
                                                    <span class="price-without">
                                                Prix sans vignettes<br/>
                                                <span>51,90€</span>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <a href="/collections" class="btn-slide-cta">
                                                    Découvrez toute la collection
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- STORE LOCATOR -->
            {{ page.synapse }}

            <!-- YVES -->
            <div class="row yves">
                <div class="col no-padding text-center">
                    <img class="d-sm-none" src="/sites/ope-sitram/themes/opesitram/images/hp/homepage_bg_yves_mobile.jpg"
                         alt=""/>
                    <img class="d-none d-sm-block" src="/sites/ope-sitram/themes/opesitram/images/hp/homepage_bg_yves.jpg"
                         alt=""/>

                    <div class="absolute-txt">
                        <img class="sign" src="/sites/ope-sitram/themes/opesitram/images/hp/camdeborde-signature.png" alt=""/>

                        <p class="intro">
                            cuisiner avec sincérité et dans le respect <br/>de notre histoire gastronomique.
                        </p>

                        <hr/>

                        <p>Né dans le sud-ouest à Pau, Yves Camdeborde a appris très tôt à apprécier les produits naturels et
                            savoureux issus de la ferme familiale. Après avoir fait ses armes dans des très grandes maisons
                            françaises de tradition gastronomique d’exception, il a ouvert plusieurs établissements où il
                            propose sa cuisine bistronomique, généreuse et accessible, tout en participant à des émissions
                            culinaires à la télévision.</p>

                        <p>Son credo : une cuisine qui sublime les produits les plus simples, pour
                            manger sain et bon marché.</p>

                        <p>L’association du Chef Yves Camdeborde avec la marque SITRAM se poursuit,
                            autour de ces valeurs partagées de simplicité, de convivialité et d’authenticité. Découvrez sa
                            nouvelle collection d’ustensiles de cuisine aussi beaux que performants pour vous permettre de
                            préparer vous aussi de bons plats savoureux et sains à la maison. Retrouvez les produits stars de
                            l’opération 2020, pour compléter votre collection, ainsi que de nouveaux ustensiles et accessoires
                            pour cuisiner comme un chef !</p>
                    </div>
                </div>
            </div>
        </div>
{#        {{ page.content }}#}
    {% endif %}

    {% if page.footer %}
        <div id="footer">
            <div class="row reseaux-footer">
                <div class="col text-center text-lg-left">
                    <div class="d-flex align-items-center justify-content-center content-reseaux flex-column flex-lg-row">
                        <h4>Rejoignez la<br> communauté !</h4>
                        <div class="pictos-reseaux">
                            <a href="https://fr-fr.facebook.com/SitramFrance/"><img src="/sites/ope-sitram/themes/opesitram/images/footer/facebook.svg" alt=""></a>
                            <a href="#"><img src="/sites/ope-sitram/themes/opesitram/images/footer/pinterest.svg"
                                             alt=""></a>
                            <a href="https://www.instagram.com/sitram_fr" target="_blank"><img
                                        src="/sites/ope-sitram/themes/opesitram/images/footer/instagram.svg" alt=""></a>
                        </div>
                        <div class="vertical-line"></div>
                        <h4>Inscrivez-vous à<br> la newsletter Sitram</h4>
                        <a href="#">
                            <div class="inscription">s'inscrire</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row instagram-footer">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center justify-content-center insta-intro flex-column flex-md-row">
                                <a href="https://www.instagram.com/sitram_fr" target="_blank"><img
                                            src="/sites/ope-sitram/themes/opesitram/images/footer/instagram.svg"
                                            alt=""></a>
                                <h3 class="text-center text-lg-left">Rejoignez la communauté<br> Sitram sur Instagram !
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <div id="js-instagram" class="insta-fake">
                                <a href="https://www.instagram.com/sitram_fr" target="_blank"><img class="mw-100"
                                                                                                   src="/sites/ope-sitram/themes/opesitram/images/footer/fake-insta.png"/></a>
                            </div>
                            <div class="js-insta-slick insta-fake-slick">
                                <div>
                                    <a href="https://www.instagram.com/sitram_fr" target="_blank"><img class="mw-100"
                                                                                                       src="/sites/ope-sitram/themes/opesitram/images/footer/fake-insta1.jpg"/></a>
                                </div>
                                <div>
                                    <a href="https://www.instagram.com/sitram_fr" target="_blank"><img class="mw-100"
                                                                                                       src="/sites/ope-sitram/themes/opesitram/images/footer/fake-insta2.jpg"/></a>
                                </div>
                                <div>
                                    <a href="https://www.instagram.com/sitram_fr" target="_blank"><img class="mw-100"
                                                                                                       src="/sites/ope-sitram/themes/opesitram/images/footer/fake-insta3.jpg"/></a>
                                </div>
                                <div>
                                    <a href="https://www.instagram.com/sitram_fr" target="_blank"><img class="mw-100"
                                                                                                       src="/sites/ope-sitram/themes/opesitram/images/footer/fake-insta4.jpg"/></a>
                                </div>
                            </div>
                            <div class="js-prev-slick"></div>
                            <div class="js-next-slick"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row navigation-footer">
                <div class="col">
                    <a href="https://www.sitram.fr/" title="Sitram" target="_blank">
                        <img src="/sites/ope-sitram/themes/opesitram/images/footer/logo-footer.svg" alt=""/>
                        <h4 class="sitram-link">sitram.fr</h4>
                    </a>
                    <ul>
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="/collections">Collection</a>
                        </li>
                        <li>
                            <a href="/recettes">Recettes</a>
                        </li>
                        <li>
                            <a href="/mentions-legales">Mentions Légales</a>
                        </li>
                    </ul>
                </div>
            </div>
            {# {{ page.footer }} #}
        </div>
    {% endif %}
</div>