<div id="menu">
    {{ page.navigation }}
</div>

<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>

{% if page.highlighted %}
    <div class="message-site">
        {{ page.highlighted }}
    </div>
{% endif %}

<div class="container-fluid">
    {% if page.content %}
        <div id="homepage">
            {{ page.contenthp1 }}
            {{ page.synapse }}
            {{ page.contenthp2 }}
        </div>
    {% endif %}

    {% if page.footer %}
        {{ page.footer }}
    {% endif %}
</div>