{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container',
]
%}
{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
  <div class="sliderCollection fitScreen">
    <div class="sliderCollection-text">
      <div class="row">
        <div class="col-12 col-md-3 offset-md-2">
          <h2 class="text-white">{{ content.field_title }}</h2>
          <p>{{ content.field_description }}</p>
          <p class="d-flex justify-content-center justify-content-start-md"><a href="{{ content.field_cta[0]['#url'] }}" class="cta --secondary">{{ content.field_cta[0]['#title'] }}</a></p>
        </div>
      </div>
    </div>
    <div class="slider js-collections-slider">
      <div class="slider-wrapper">
        {% for i in content.field_slide['#items']|keys %}
        <div class="slider-slide">
          {{ content.field_slide[i] }}
        </div>
        {% endfor %}
      </div>
      <div class="sliderCollection-pagination">
        <div class="row">
          <div class="col-12 col-md-3 offset-md-2">
            <div class="slider-pagination">
            </div>
          </div>
        </div>
      </div>
      <div class="sliderCollection-nav">
        <div class="slider-btnPrev">
          <svg width="22" height="22" focusable="false" aria-hidden="true">
            <use xlink:href="/{{ directory ~ '/public/assets/sprite.svg#arrow-prev' }}" />
          </svg>
        </div>
        <div class="slider-btnNext">
          <svg width="22" height="22" focusable="false" aria-hidden="true">
            <use xlink:href="/{{ directory ~ '/public/assets/sprite.svg#arrow-next' }}" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock paragraph %}
