{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'topBanner',
  'fitScreen'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="topBanner-ratio">
      <div class="topBanner-text">
        <h1 class="topBanner-text-title">{{ content.field_title }}</h1>
        <p class="topBanner-text-subTitle">{{ content.field_subtitle }}</p>
      </div>
      <div class="topBanner-img">
        <picture>
          <source srcset="{{ file_url(content.field_desktop_background_picture[0]['#item'].entity.fileUri) }}" media="(min-width: 31.1875rem)">

          <img src="{{ file_url(content.field_mobile_background_picture[0]['#item'].entity.fileUri) }}" alt="" />
        </picture>
      </div>
      <div class="topBanner-paralax1">
        <img
          srcset="{{ file_url(content.field_picture_third[0]['#item'].entity.fileUri) }} 220w,
                  {{ file_url(content.field_picture_second[0]['#item'].entity.fileUri) }} 120w"
          sizes="(min-width: 46.8125rem) 220px, 120px"
          src="{{ file_url(content.field_picture_second[0]['#item'].entity.fileUri) }}"
          alt="">
      </div>
      <div class="topBanner-paralax2">
        <img src="{{ file_url(content.field_picture[0]['#item'].entity.fileUri) }}" alt="">
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
