{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_description }}
      {{ content.field_color }}
      {{ content.field_color_back }} {# coleur de fond derriere l'image #}
      {{ content.field_title }}
      {{ content.field_picture }} {#  Visuel n°1	 #}
      {{ content.field_picture_second }}{# Visuel n°2	  #}
    {% endblock %}
  </div>
{% endblock paragraph %}
