{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'topBanner',
  '--breakMd',
  'brushTrace',
  'brushTrace-bottom',
  'fitScreen'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="topBanner-ratio">
        <div class="topBanner-text">
          <h1 class="topBanner-text-title">{{ content.field_title }}</h1>
          <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
              <p>{{ content.field_description }}</p>
            </div>
          </div>
        </div>
        <div class="topBanner-img">
          <picture>
            <source srcset="{{ file_url(content.field_desktop_background_picture[0]['#item'].entity.fileUri) }}" media="(min-width: 46.8125rem)">

            <img src="{{ file_url(content.field_mobile_background_picture[0]['#item'].entity.fileUri) }}" alt="" />
          </picture>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
