<div id="homepage">
    <!-- BANNIÈRE -->
    <div class="relative-slider">
        {{ content.field_hp_banner_img }}
        <div class="absolute-banner">
            <div class="content-banner">
                {{ content.field_hp_banner_txt }}
            </div>
        </div>
    </div>

    <!-- CONTENT 1 -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-lg-10 offset-lg-1 text-center">
                {{ content.field_hp_c1_txt }}
            </div>
        </div>
        <div class="row mt-4 cards-wrapper">
            <div class="col">
                <div class="px-lg-5">
                    <div class="row cards-row">
                        {% for i in 0..7 %}
                            <div class="col-6 col-md-3">
                                <div class="card-item">
                                    <a href="{{ content.field_hp_c1_links[i] }}">
                                        <img {% if i == 1 or i == 2 or i == 6 or i == 7 %}class="offset-25"
                                                {% endif %} src="{{ content.field_hp_c1_imgs[i] }}">
                                        <span>{{ node.field_hp_c1_imgs[i].alt }}</span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="container-fluid content-2 mt-5-80lg">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-12 col-md-7 left order-last order-md-first">
                            {{ content.field_hp_c2_left_txt }}
                            {{ content.field_hp_c2_left_img }}
                        </div>
                        <div class="col-12 col-md-5 right">
                            <div>
                                {{ content.field_hp_c2_right_imgs[0] }}
                            </div>
                            <div class="mt-2 d-flex justify-content-center reseaux-pictos">
                                {{ content.field_hp_c2_right_imgs[1] }}
                                {% for i in 0..1 %}
                                    <a href="{{ content.field_hp_c2_right_socials_links[i] }}" target="_blank"><img
                                                class="grayscale" src="{{ content.field_hp_c2_right_socials[i] }}"></a>
                                {% endfor %}
                                {{ content.field_hp_c2_right_txts[0] }}
                            </div>
                            <div class="abonnement mt-4">
                                {{ content.field_hp_c2_right_imgs[2] }}
                                {{ content.field_hp_c2_right_txts[1] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT 3 -->
    <div class="container content-3 mt-5-80lg mb-4">
        <div class="row align-items-end">
            <div class="col-12 col-md-6 col-lg-auto">
                {{ content.field_hp_c3_title }}
                {{ content.field_hp_c3_img }}
            </div>
            <div class="col-12 col-md-6 col-lg mt-3 mt-md-0">
                <div class="pl-md-4">
                    {{ content.field_hp_c3_txt }}
                </div>
            </div>
        </div>
    </div>
</div>
