<div id="arrivages">
    <div class="row arrivages-S0-wrapper">
        <div class="col-12">
            <div class="title text-center">
                {{ content.field_arrivages_txts[0] }}
            </div>
            <div id="arrivages_S0">
                {{ content.field_block_produits[0] }}
            </div>
        </div>
    </div>

    <div class="row arrivages-S1-wrapper">
        <div class="col-12">
            <div class="title text-center">
                {{ content.field_arrivages_txts[1] }}
            </div>
            <div id="arrivages_S1">
                {{ content.field_block_produits[1] }}
            </div>
        </div>
    </div>

    <div class="row txt">
        <div class="col-12 text-center">
            {{ content.field_arrivages_txts[2] }}
        </div>
    </div>
</div>