<div class="container">
    <div id="arrivages">
        <div class="row arrivages-S0-wrapper">
            <div class="col-12 col-lg-8 offset-lg-2 no-padding">
                <div class="title mt-4 mb-5 px-3 px-md-0">
                    <h1>
                        {{ content.field_arrivages_txts[0] }}
                    </h1>
                </div>
            </div>
            <div class="col-12">
                <div id="arrivages_S0">
                    {{ content.field_block_produits[0] }}
                </div>
            </div>
        </div>

        <div class="row arrivages-S1-wrapper">
            <div class="col-12 col-lg-10 offset-lg-1 no-padding">
                <div class="title mt-4 mb-5 px-3 px-md-0">
                    {{ content.field_arrivages_txts[1] }}
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 no-padding">
                <div class="title my-5 px-3 px-md-0">
                    <h2>
                        {{ content.field_arrivages_txts[2] }}
                    </h2>
                </div>
            </div>
            <div class="col-12">
                <div id="arrivages_S1">
                    {{ content.field_block_produits[1] }}
                </div>
            </div>
        </div>

        <div class="row txt">
            <div class="col-12 col-lg-10 offset-lg-1 no-padding">
                <div class="title mt-4 mb-5 px-3 px-md-0">
                    {{ content.field_arrivages_txts[3] }}
                </div>
            </div>
        </div>
    </div>
</div>