<div id="qsn">
    <div class="row">
        <div class="col-12">
            {{ content.field_qsn_banner }}
            <h1>{{ node.label }}</h1>
            <div class="intro">
                {{ content.field_qsn_intro }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            {{ content.field_qsn_txts[0] }}
            {{ content.field_qsn_imgs[0] }}
            {{ content.field_qsn_txts[1] }}
            {{ content.field_qsn_imgs[1] }}
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            {{ content.field_qsn_imgs[2] }}
            <div class="row">
                <div class="col-12 col-lg-6">
                    {{ content.field_qsn_txts[2] }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ content.field_qsn_txts[3] }}
                </div>
            </div>
            {{ content.field_qsn_imgs[3] }}
            {{ content.field_qsn_txts[4] }}
        </div>
    </div>
</div>
