<div class="row">
    <div class="container content innovations">
        <div class="row" nvs-animation-delay="500" nvs-animation-type="in-left">
            <div class="col text-center">
                <h1>{{ label }}</h1>
                <p class="intro">{{ content.field_inno_intro.0 }}</p>
            </div>
        </div>

        <div class="row" nvs-animation-delay="500" nvs-animation-type="in-right">
            <div class="col-12 col-sm-12 col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <div class="txt-block txt-1">
                            <p>{{ content.field_inno_txt_1.0 }}</p>
                        </div>
                    </div>
                    <div class="col-12 d-none d-lg-block">
                        <img style="margin-top: 10px;"
                             src="{{ content.field_inno_imgs_1[0] }}" alt="{{ node.field_inno_imgs_1[0].alt }}" />
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <img src="{{ content.field_inno_imgs_1[1] }}" alt="{{ node.field_inno_imgs_1[1].alt }}" />
            </div>
            <div class="col-6 col-lg-4">
                <img src="{{ content.field_inno_imgs_1[2] }}" alt="{{ node.field_inno_imgs_1[2].alt }}" />
            </div>
        </div>

        <div class="row" nvs-animation-delay="500" nvs-animation-type="in-left">
            <div class="col-12 col-sm-4 d-none d-lg-block">
                <img src="{{ content.field_inno_imgs_1[3] }}" alt="{{ node.field_inno_imgs_1[3].alt }}" />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <img src="{{ content.field_inno_imgs_1[4] }}" alt="{{ node.field_inno_imgs_1[4].alt }}" />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="txt-block txt-2">
                    <div class="flex-center">
                        <p>{{ content.field_inno_txt_2.0 }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" nvs-animation-delay="500" nvs-animation-type="in-right">
            <div class="col-12 col-sm-6">
                <img src="{{ content.field_inno_imgs_1[5] }}" alt="{{ node.field_inno_imgs_1[5].alt }}" />
            </div>
            <div class="col-12 col-sm-6">
                <img src="{{ content.field_inno_imgs_1[6] }}" alt="{{ node.field_inno_imgs_1[6].alt }}" />
            </div>
        </div>

        <div class="row" nvs-animation-delay="500" nvs-animation-type="in-left">
            <div class="col-12 col-sm-4">
                <div class="txt-block txt-3">
                    <div class="flex-center">
                        <p>{{ content.field_inno_txt_3.0 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 text-center">
                <img src="{{ content.field_inno_imgs_1[7] }}" alt="{{ node.field_inno_imgs_1[7].alt }}" />
            </div>
            <div class="col-6 col-sm-4 text-center">
                <img src="{{ content.field_inno_imgs_1[8] }}" alt="{{ node.field_inno_imgs_1[8].alt }}" />
            </div>
        </div>

        <div class="row" nvs-animation-delay="500" nvs-animation-type="in-right">
            <div class="col-12 col-lg-4 d-none d-lg-block">
                <img src="{{ content.field_inno_imgs_1[9] }}" alt="{{ node.field_inno_imgs_1[9].alt }}" />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <img src="{{ content.field_inno_imgs_1[10] }}" alt="{{ node.field_inno_imgs_1[10].alt }}" />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="txt-block txt-4">
                    <div class="flex-center">
                        {{ content.field_inno_txt_4 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>