<div id="qsn">
    <div class="full-width-bg">
        <div class="imgs-bg">
            {% for field in content.field_qsn_top_bg_img['#items'] %}
                <div style="background: url({{ file_url(field.entity.fileuri) }}) no-repeat center transparent"></div>
            {% endfor %}
        </div>
        <div class="container block-text">
            <div class="row">
                <div class="col">
                    <h1 id="part0" nvs-animation-delay="500" nvs-animation-type="fade-in">{{ node.label }}</h1>
                    <div class="block txt-left bg-white" nvs-animation-delay="500" nvs-animation-type="in-left">
                        {{ content.field_qsn_top_block_txt_1 }}
                    </div>
                    <div class="block txt-right bg-black" nvs-animation-delay="500" nvs-animation-type="in-right">
                        {{ content.field_qsn_top_block_txt_2 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container content">
            <div class="row">
                <div class="col">
                    <div class="top">
                        <h2 id="part1">{{ content.field_qsn_content_top_title|render|striptags|trim }}</h2>
                        <div class="row imgs-wrapper">
                            {% for field in content.field_qsn_content_top_imgs['#items'] %}
                                <div class="col-12 col-md-6 col-xl-4 text-center">
                                    <img class="img-fluid" src="{{ file_url(field.entity.fileuri) }}" alt="{{ field.alt }}" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="middle">
                        <h2 id="part2">{{ content.field_qsn_content_middle_title|render|striptags|trim }}</h2>
                        <div class="inner">
                            <img class="img-fluid" src="{{ content.field_qsn_content_middle_img|render|striptags|trim|raw }}"
                                 alt="{{ content.field_qsn_content_middle_img.alt }}" />
                        </div>
                    </div>

                    <div class="bottom">
                        <h2 id="part3">{{ content.field_qsn_content_bottom_title|render|striptags|trim }}</h2>
                        <div class="row">
                            <div class="col-12 col-sm-5 img-wrapper">
                                <img class="img-fluid" src="{{ content.field_qsn_content_bottom_img|render|striptags|trim|raw }}"
                                     alt="{{ content.field_qsn_content_bottom_img.alt }}" />
                            </div>
                            <div class="col-12 col-sm-7">
                                <h3>{{ content.field_qsn_content_bottom_txt_tit|render|striptags|trim }}</h3>
                                {{ content.field_qsn_content_bottom_txt }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>