<div class="row">
    <div class="container content valeurs">
        <div class="row">
            <div class="col">

                <!-- Intro -->
                <div class="intro" nvs-animation-delay="200" nvs-animation-type="in-left">
                    {{ content.field_valeurs_intro }}
                </div>

                <!-- Desktop -->
                <div class="d-none d-xl-block desktop">
                    {{ content.field_valeurs_svg_desktop }}
                    <div class="txts-wrapper">
                        <div class="block-txt" nvs-animation-delay="200" nvs-animation-type="in-right">
                            {{ content.field_valeurs_block_txt[0] }}
                        </div>
                        <div class="block-txt" nvs-animation-delay="200" nvs-animation-type="in-left">
                            {{ content.field_valeurs_block_txt[1] }}
                        </div>
                        <div class="block-txt" nvs-animation-delay="200" nvs-animation-type="in-right">
                            {{ content.field_valeurs_block_txt[2] }}
                        </div>
                        <div class="block-txt" nvs-animation-delay="200" nvs-animation-type="in-right">
                            {{ content.field_valeurs_block_txt[3] }}
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="d-block d-xl-none tab-mobile">

                    <div class="row">
                        <div class="col-12 col-sm-6 align-self-center">
                            {{ content.field_valeur_svg_mobile[0] }}
                        </div>
                        <div class="col-12 col-sm-6 align-self-center">
                            {{ content.field_valeurs_block_txt[0] }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 align-self-center order-2 order-sm-1">
                            {{ content.field_valeurs_block_txt[1] }}
                        </div>
                        <div class="col-12 col-sm-6 align-self-center order-1 order-sm-2">
                            {{ content.field_valeur_svg_mobile[1] }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 align-self-center">
                            {{ content.field_valeur_svg_mobile[2] }}
                        </div>
                        <div class="col-12 col-sm-6 align-self-center">
                            {{ content.field_valeur_svg_mobile[3] }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 align-self-center order-2 order-sm-1">
                            {{ content.field_valeur_svg_mobile[4] }}
                        </div>
                        <div class="col-12 col-sm-6 align-self-center order-1 order-sm-2">
                            {{ content.field_valeurs_block_txt[2] }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 align-self-center">
                            {{ content.field_valeurs_block_txt[3] }}
                        </div>
                        <div class="col-12 col-sm-6 align-self-center">
                            {{ content.field_valeur_svg_mobile[5] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>