<div class="row jobs-bg-img" nvs-animation-delay="500" nvs-animation-type="fade-in">
    <div class="container">
        <div id="jobs" class="row">
            <div class="col-12 col-sm-4 navigation order-2 order-sm-1">
                <div class="inner">
                    <h2>{{ label }}</h2>
                    <ul>
                        {% for key,field in content.field_jobs_paragraph %}
                            {% if key is same as(0) or key > 0 %}
                                <li>
                                    <a id="js-link-{{ field['#paragraph'].field_job_id.value }}" href="" alt="{{ field['#paragraph'].field_job_title.value }}">
                                        {{ field['#paragraph'].field_job_title.value }}
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col content order-1 order-sm-2">
                <div class="inner">
                    <div class="job intro">
                        {{ content.field_jobs_intro }}
                    </div>
                    {{ content.field_jobs_paragraph }}
                </div>
            </div>
        </div>
    </div>
</div>