<div id="homepage">
    <div id="homepage-video-wrapper">
        <video playsinline autoplay muted loop id="homepage-video">
            <source src="{{ content.field_homepage_video_path.0 }}" type="video/mp4">
        </video>
        <div class="content">
            {{ content.field_homepage_video_txt }}
        </div>
    </div>

    <div class="row">
        <div class="container">
            <!-- TXT INTRO -->
            <div class="row">
                <div class="col txt-intro text-center">
                    {{ content.field_homepage_txt_intro }}
                </div>
            </div>

            <!-- BLOCKS IMG RANDOM -->
            <div class="img-bank">
                {% for field in content.field_homepage_images_random['#items'] %}
                    <img style="display: none" alt="{{ field.alt }}" src="{{ file_url(field.entity.fileuri) }}"/>
                {% endfor %}
            </div>

            <div class="galery">
                <!-- Block texte pour mobile -->
                <div class="row justify-content-center d-flex d-sm-none">
                    <div class="col-auto col-lg-3 block-txt">
                        {{ content.field_homepage_images_random_txt }}
                        <span class="corner topleft"></span>
                        <span class="corner topright"></span>
                        <span class="corner bottomleft"></span>
                        <span class="corner bottomright"></span>
                    </div>
                </div>
                <div class="row justify-content-center js-galery-slick">
                    <div class="col-auto col-lg-3 block-txt d-none d-sm-flex js-remove-mobile">
                        {{ content.field_homepage_images_random_txt }}
                        <span class="corner topleft"></span>
                        <span class="corner topright"></span>
                        <span class="corner bottomleft"></span>
                        <span class="corner bottomright"></span>
                    </div>
                    {% for i in 0..6 %}
                        <div class="block-img col-auto col-lg-3">
                            <img alt="{{ node.field_homepage_images_random[i].alt }}"
                                 src="{{ content.field_homepage_images_random[i] }}"/>
                            <img style="display:none;" class="img-fluid" src=""/>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Block bottom - 4 images -->
            <div class="block-bottom">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="inner" style="background: url(' {{ content.field_homepage_image_bottom_1|render|striptags|trim|raw }} ');">
                            {{ content.field_homepage_image_txt_1 }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="inner" style="background: url(' {{ content.field_homepage_image_bottom_2|render|striptags|trim|raw }} ');">
                            {{ content.field_homepage_image_txt_2 }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="inner" style="background: url(' {{ content.field_homepage_image_bottom_3|render|striptags|trim|raw }} ');">
                            {{ content.field_homepage_image_txt_3 }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="inner" style="background: url(' {{ content.field_homepage_image_bottom_4.0 }} ');">
                            {{ content.field_homepage_image_txt_4 }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gallery logos -->
            <div class="gallery-logo row">
                <div class="col">
                    <ul class="items">
                        {% for field in content.field_homepage_gallery_logo['#items'] %}<!-- fix
                        --><li class="item">
                            <img alt="{{ field.alt }}" src="{{ file_url(field.entity.fileuri) }}"/>
                        </li><!-- fix
                    -->{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>