{% if content is not empty %}
  <div class="NotFound">
    {{ content.picture }}
    <div class="NotFound-over">
      <div class="NotFound-title">
        {{ content.title }}
      </div>
      <div class="NotFound-subtitle">
        {{ content.subtitle }}
      </div>
      <div class="NotFound-cta">
        <a class="cta" href="{{ (content.cta_link != 'internal:/') ? content.cta_link : '/' }}">{{ content.cta }}</a>
      </div>
    </div>
  </div>

{% endif %}

