{{ attach_library('cogex/style-espace-conso') }}
<div class="container">
    <div id="page-espace-conso">
        <div class="banner">
            <div class="banner-content">
                {{ content.field_conso_intro }}
            </div>
        </div>

        <div class="pages-list">
            {% for i in 0..5 %}
                <div class="item">
                    <a href="{{ content.field_conso_links[i]['#url'] }}">
                        <span class="text">
                            {{ node.field_conso_img[i].alt }}
                        </span>
                        {{ content.field_conso_img[i] }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
